footer{
	background: #2F2926 url('../../../images/home/s123/bg-footer.svg');
	padding: 50px	percentage(120/1440);
	font-family: 'GOTHAM BOOK';
	background-position: 0px bottom;
	background-repeat: no-repeat;
	background-size: contain;
	@media(max-width :1024px){
		padding: 45px 20px 0;
	}
	@media(max-width :480px){
		padding: 45px 15px 0;
	}
	.up{
		display: flex;
		border-bottom:1px solid rgba(255, 255, 255, 0.2);
		padding-bottom: 45px;
		@media(max-width :768px){
			flex-direction: column;
			padding: 0;
		}
		.note{
			font-size: 12px;
			line-height: normal;
			color: #FFFFFF;
			opacity: 0.7;
			width: percentage(320/1200);
			@media(max-width :768px){
				width: 100%;
				text-align: center;
				margin-bottom: 20px;
			}
			@media(max-width :480px){
				font-size: 12px;
			}
		}
		.page{
			width: percentage(880/1200);
			display: flex;
			margin-left:80px;
			@media(max-width :1024px){
				justify-content: space-between;
			} 
			@media(max-width :768px){  
				width: 100%;
				margin: 30px 0 40px;
				flex-wrap: wrap;
			}

			.item-page{
				width:calc((100% - 80px) / 3);
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: flex-start;

				@media(max-width :1024px){ 
					justify-content: center;
					align-items: center;
				}
				@media(max-width :768px){ 
					display: flex;
					align-items: center;
					width: 50%;
					&:nth-of-type(1){						
						width: 100%;
						// margin-bottom: 20px;
					}
				}
				img{
					margin-bottom: 15px;
					@media(max-width :768px){  
						width: 75px;
					}
					@media(max-width :480px){  
						width: 40px;
					}
				}
				p{
					font-family: 'GOTHAM BOOK';
					font-size: 16px; 
					text-transform: uppercase;
					color: #FFFFFF;

					@media(max-width :1024px){
						text-align: center;
					}  
					@media(max-width :768px){  
						// font-size: 26px;
						text-align: center;
						
					}
					@media(max-width: 480px){
						font-size: 13px;
					}
				}
			}
		}
	}
	.down{ 
		margin-top: 47px;
		@media (max-width: 768px){
			margin-top: 15px;
			display: flex; 
			flex-wrap: wrap;
		}
		// general
		.item-footer{
			p{
				&:nth-of-type(1){ 
					font-size: 16px; 
					color: #FFFFFF;
					@media(max-width: 768px){
						// font-size: 26px;
					}
					@media(max-width: 480px){
						font-size: 16px;
					}
				}
				&:nth-of-type(2){
					font-size: 14px; 
					color: rgba(255, 255, 255, 0.4);
					@media(max-width: 768px){
						// font-size: 23px;
					}
					@media(max-width: 480px){
						font-size: 14px;
					}
				}
			}
		}
		// end general

		display: inline-block;
		position: relative;
		.logo-footer{
			width: percentage(240/1200);
			float: left; 
			@media (max-width :768px){     
				width: 100%;
				text-align: center;
				margin-bottom: 15px;
			}
			svg{
				width: 100%;
				@media (max-width :768px){ 
					// height: 150px;
					margin-top: 10px;
				}
				@media (max-width :480px){ 
					height: 102px;
					margin-top: 10px;
				}
			}
		}
		.contact{ 
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			float: left;
			@media (max-width:768px){
				width: 100%;
				text-align: center;
				margin-bottom: 30px;
				
			}
			.link{
				display: flex;
				@media (max-width:768px){
					justify-content: center;
				}
				a {
					display: flex;
					align-items: center;
					font-size: 15px;
					color: #ffffff;
					margin-right: 24px;
					cursor: pointer;
					transition:0.4s;
					&:hover{
						i.fa, img {
							transform: scale(1.1);
						}							
						transform: scale(1.1);					
					}
					&:last-child{
						margin-right: 0;
						font-size: 20px;
					}
					i.fa{
						color:white;
						font-size: 28px;
						transition:0.4s;
						@media (max-width:768px){
							// font-size: 26px;
						}
						@media (max-width:480px){
							font-size: 14px;
						}
					}
					img{
						height: 24px;
						transition:0.4s;
						@media (max-width:768px){
							// height: 21px;
						}
						@media (max-width:480px){
							// height: 14px;
						}
					}
				}
			}
			.item-footer:last-child{
				p{					
					a{
						transition:0.4s;							
					}
					&:hover{
						a{								
							color:#4AB587;
						}
					}
				}
			}
			.hotline{
				margin: 24px 0;
				p{
					&:nth-of-type(2){
						font-size: 36px;
						color:white;	
						@media(max-width: 768px){
							// font-size: 45px;
						}	
						@media(max-width: 480px){
							// font-size: 36px;
						}				
					}
					a{
						transition:0.4s;							
					}
					&:hover{
						a{								
							color:#4AB587;
						}
					}
				}
			}
		}
		.adress{ 
			width: calc((72% * 2) / 3);  
			float: right;			

			@media (max-width:768px){ 
				width: 100%;
				text-align: center;				
			}
			.item-footer{
				@media (max-width:768px){
					margin-bottom: 40px;
				}  
				margin-bottom: 30px;  
			}
		}
	}
}