header {
	width: 100%;
	padding: 0 percentage(230/1440);
	display: flex;
	justify-content: space-between;
	position: fixed;
	z-index: 111;
	top: 0;
	left: 0;

	height: 100px;
	font-family: "GOTHAM BOOK";
	align-items: center;
	background: white;
	transition: all .4s ease;

	@media (max-width: 1280px) {
		padding: 0 30px;
	}
	@media (max-width: 480px) {
		display: none;
	}

	&.scroll-menu {
		height: 60px;
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6117647059);

		.menu {
			font-size: 13px;

			li {
				padding-bottom: 2px;
			}
		}

		.logo {
			a {
				img {
					height: 50px;
				}
			}
		}
	}

	.logo {
		transition: all .4s ease;

		a {
			transition: all .4s ease;

			img {
				transition: all .4s ease;
			}
		}
	}
}

.social {
	position: fixed;
	right: 25px;
	top: 50%;
	z-index: 111;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	color: white;
	background: rgba(255, 255, 255, 0.2);
	&.active{
		background-color: #4B423E;
	}
	&._active{
		background-color: red;
	} 
	a {
		transition: all .4s ease;
		padding: 12px;
		text-align: center;
		&:hover {
			color: #4AB587;
		}

		i.fa {
			font-size: 15px;
		}

		&:last-child {
			i.fa {
				margin: 0;
			}
		}
	}
	@media (max-width:1024px){
		right: 0;
	}
}

.scroll {
	position: absolute;
	left: 100px;
	bottom: 45px;
	z-index: 111;
	display: flex;
	flex-direction: column;
	font-family: "GOTHAM BOOK";
	animation: jump 2s;
	animation-iteration-count: 1000;
	cursor: pointer;
	@media (max-width: 768px){
		display: none;	
	}
	p {
		text-transform: uppercase;
		color: white;
		font-size: 10px;
		transform: rotateZ(90deg) translateX(-45px);
		text-transform: uppercase;
		color: white;
		font-size: 10px;
	}

	flex-direction: column;

	font-family: "GOTHAM BOOK";

	img {}
}

.menu {
	display: flex;
	text-transform: uppercase;
	font-size: 15px;
	color: #4B423E;
	transition: all .4s ease; 
	li {
		margin-right: 45px;
		position: relative;
		padding-bottom: 7px;
		overflow: hidden; 
		@media (max-width:768px){
			margin-right: 15px;
			padding: 0;
			font-size: 14px;
		}
		&:before {
			position: absolute;
			content: "";
			height: 2px;
			width: 60%;
			background: #4AB587;
			transform: translateX(-100px);
			left: 0;
			bottom: 0;
			transition: all .4s ease;
		}

		&.active,
		&:hover {
			&:before {
				transform: translateX(0px);
			}

			a {
				font-weight: bold;
				color: #4B423E;
			}
		}

		&:last-child {
			margin-right: 0;
		}

		a,
		span { 
			color: #938E8B;
		}
	}

	.language {
		cursor: pointer;

		.active {
			font-weight: bold;
			color: #4B423E;
		}

		&:hover {
			a:last-child {
				font-weight: normal;
			}
		}

		&:before {
			content: none;
		}
	}
}

.menu-mobile {
	display: block !important;
	position: fixed;
	z-index: 1000;
	z-index: 0;
	top: 0;
	left: 0;
	width: percentage(340/375);
	height: 455px;
	opacity: 0;
	visibility: hidden;
	transition: all .4s ease;

	@media (max-width: 480px) {
		opacity: 1;
		visibility: visible;
		z-index: -1;
	}

	.menu {
		flex-direction: column;
		position: absolute;
		top: 90px;
		left: 90px;

		opacity: 0;
		visibility: hidden;
		@media(max-width: 480px){
			top: 90px;
			left: 90px;
		}

		li {
			width: max-content;
			padding-bottom: 3px;
			margin-bottom: 18px;
			font-size: 15px;
			margin-bottom: 18px;

			&.active a,
			&:hover a {
				color: white !important;
			}

			&.language {
				a {
					color: white;
				}
			}

			a,
			span {
				font-family: Gotham bold;
			}
		}
	}

	img.background {
		opacity: 0;
		visibility: hidden;
		transition: all .4s ease;
		width: 100%;
	}

	&.click {
		z-index: 111;

		img.background {
			opacity: 1;
			visibility: visible;
		}

		.logo {
			opacity: 0;
		}

		.menu {
			opacity: 1;
			visibility: visible;
		}
	}
}

.btn {
	position: fixed;
	z-index: 111;
	top: 20px;
	left: 20px;
	color: #4B423E;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 24px; 
	display: none;
	@media(max-width:480px){
		display: flex;
	}

	span {
		text-transform: uppercase;
		font-family: Gotham book;
		font-size: 8px;

		&:last-child {
			width: 20px;
			height: 1px;
			background: #4B423E;
			display: inline-block;
			position: relative;
			transform-origin: 0 0;
			transition:1s;

			&:before,
			&:after {
				position: absolute;
				content: "";
				height: 1px;
				background: #4B423E;
				transition: 1s;
				transform-origin: 0 0;
				transition:1s;
			}

			&:before {
				top: -16px;
				width: 20px;
				@media(max-width: 768px){
					top: -10px;
					width: 20px
				}
			}

			&:after {
				bottom: 5px;
				width: 14px;
			}
		}
	}

	&.click {
		color: white;

		span {
			&:nth-of-type(1) {
				display: none;

			}

			&:nth-of-type(2) {
				display: block !important;

			}
		}

		span:last-child {
			transform: rotateZ(45deg) translateY(-9px) translateX(-5px);
			background: white;
			&:before {
				transform: rotateZ(90deg) translateX(0px) translateY(-10px);
				background: white;
			}

			&:after {
				background: transparent;
			}
		}
	}
}

.logo.mobile {
	position: fixed;
	z-index: 111;
	left: 50%;
	transform: translateX(-50%);
	display: inline-block;
	top: 10px;
	display: none;
	transition:1s;

	@media(max-width: 480px) {
		display: block;
	}

	img {
		height: 45px;
	}

	&.click {
		opacity: 0;
	}
}

._bg-menu-mobile {
	position: fixed;
	width: 100%;
	height: 64px;
	background: white;
	z-index: 11;
	top: 0;
	left: 0;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.611764705882353);
	display: none;
	transition:1s; 
	@media(max-width: 480px){
		display: block;
		height: 64px;
	}
}

@keyframes jump {
	0% {
		transform: translateY(0);
	}

	25% {
		transform: translateY(5px);
	}

	50% {
		transform: translateY(0);
	}

	75% {
		transform: translateY(5px);
	}
}