.intro_s1{
    height: 470px;
    background-size: cover;
    position: relative;
    color: #ffffff;
    &::before{
        content: "";
        @include absoluteFull;
        background-image: url('../../../images/intro/s1_phu.png');
        background-size: 100% 100%;
    }
    .tab_pages{
        padding-top: 120px;
        padding-left: percentage(120/1440);
        font-family: 'GOTHAM BOOK';
        a{
            color: #ffffff;
        }
        li{
            display: inline;
            position: relative;
            padding: 0 10px;
            font-size: 15px;
            line-height: 23px;
            &::before{
                content: "";
                position: absolute;
                height: 80%;
                width: 2px;
                background: #ffffff;
                right: -2px;
                top: 50%;
                transform: rotate(10deg) translateY(-50%);
            }
            i{
                margin-right: 10px;
            }
        }
        li:last-child{
            font-weight: 600;
            &::before{
                content: none;
            }
        }
    }
    .title{
        position: absolute;
        bottom: 55px;
        width: 100%;
        text-align: center;
        ._title_1{
            font-family: 'UTM Yen Tu';
            font-size: 45px;
        }
        ._title_2{
            font-size: 36px;
            text-align: center;
            text-transform: uppercase;
            font-family: 'GOTHAM BOOK';
            font-weight: 600;
        }
    }
}

@media screen and(max-width: 768px){
    .intro_s1{
        .tab_pages{
            padding-left: 30px;
            padding-top: 90px;
        }
    }
}

@media screen and(max-width: 480px){
    .intro_s1{
        .tab_pages{
            padding-left: 15px;
            padding-top: 80px;
            li{
                font-size: 14px;
            }
        }
        .title{
            ._title_1{
                font-size: 30px;
            }
            ._title_2{
                font-size: 22px;
            }
        }
    }
}

.intro_s2{
    padding: 80px percentage(120/1440);
    display: flex;
    ._left_content{
        width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        padding-right: percentage(129/1440);
        ._title_text{
            padding-left: 90px;
            font-size: 26px;
            line-height: 39px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #4B423E;
            font-family: 'GOTHAM BOOK';
            width: 93%;
            margin-top: 30px;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                width: 70px;
                height: 1px;
                background: #4B423E;
                top: 15px;
                left: 0;
            }
        }
        ._text{
            margin-top: 15px;
            padding-left: 90px;
            font-family: 'GOTHAM BOOK';
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.01em;
            color: #676767;
        }
    }
    ._right_img{
        width: 52%;
        display: flex;
        position: relative;
        ._img_left{
            width: 50%;
            height: 560px;
            // margin-top: 30px;
            margin-right: 1px;
            background-size: 100% 100%;
        }
        ._img_left:nth-of-type(1){
            margin-top: 30px; 
        }
        // ._img_right{
        //     width: 50%;
        //     height: 560px;
        //     background-size: 100% 100%;
        // }
        ._group{
            background-image: url('../../../images/intro/s2_flower.png');
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            width: 100%;
            height: 263px;
            bottom: 15px;
        }
    }
}
@media screen and(max-width: 1024px){
    .intro_s2{
        padding: 60px 30px;
    }
}
@media screen and(max-width: 768px){
    .intro_s2{
        flex-wrap: wrap;
        ._left_content{
            width: 100%;
            ._title_text{
                padding-left: 0;
                &::before{
                    content: none;
                }
            }
            ._text{
                padding-left: 0;
            }
        }
        ._right_img{
            width: 100%;
            margin-top: 30px;
        }
    }
}
@media screen and(max-width: 480px){
    .intro_s2{
        padding: 30px 15px;
        ._left_content{
            ._title_svg{
                svg{
                    width: 85%;
                }
            }
            ._title_text{
                font-size: 22px;
                line-height: 35px;
                margin-top: 0px;
            }
            ._text{
                font-size: 14px;
                line-height: 23px;
                margin-top: 10px;
            }
        }
        ._right_img{
            width: 100%;
            margin-top: 15px;
            ._img_left, ._img_right{
                height: 350px;
            }
            ._img_left:nth-of-type(1){
                margin-top: 20px;
            }
            ._group{
                background-size: contain;
                height: 130px;
            }
        }
    }
}
.intro_s3{
    color: #ffffff;
    font-family: 'GOTHAM BOOK';
    position: relative;
    padding: 60px percentage(80/1440) 26px;
    ._title_svg_m{
        display: none;
        position: relative;
        z-index: 1;
        svg{
            width: 85%;
        }
    }
    ._title_svg{
        text-align: center;
        position: relative;
        z-index: 1;
    }
    ._title_text{
        font-size: 26px;
        line-height: 39px;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 15px;
        position: relative;
        z-index: 1;
    }
    ._text{
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.01em;
        width: 85%;
        margin: 0 auto;
        position: relative;
        z-index: 1;
    }
    ._slide_img{
        padding: 30px 0px 26px;
        position: relative;
        z-index: 1;
        .swiper-container {
            width: 100%;
            .swiper-button-next, .swiper-button-prev{
                background-size: auto;
                background-color: #4AB587;
                width: 60px;
                height: 60px;
                cursor: pointer;
                border-radius: 4px;
                outline: none;
            }
            .swiper-button-prev{
                background-image: url('../../../images/intro/s3_prev.png');
            }
            .swiper-button-next{
                background-image: url('../../../images/intro/s3_next.png');
            }
        }
        .swiper-slide {
            background-position: center center;
            background-size: cover;
            width: 88%;
            height: 640px;
            border-radius: 4px;
            .swiper-slide-shadow-left, .swiper-slide-shadow-right{
                background-image: -webkit-gradient(linear,right top,left top,from(rgba(0,0,0,0.75)),to(rgba(0,0,0,0.75)));
                background-image: -webkit-linear-gradient(right,rgba(0,0,0,0.75),rgba(0,0,0,0.75));
                background-image: -o-linear-gradient(right,rgba(0,0,0,0.75),rgba(0,0,0,0.75));
                background-image: linear-gradient(to left,rgba(0,0,0,0.75),rgba(0,0,0,0.75));
            }
        }
        .pagi-default{
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            .swiper-pagination-bullet{
                background: #4AB587;
                box-shadow: unset;
                &.swiper-pagination-bullet-active{
                    width: 16px;
                    height: 16px;
                    background: transparent;
                    border: 4px solid #4AB587;
                }
            }
        }
    }
    &::before{
        content: "";
        width: 100%;
        position: absolute;
        height: 46%;
        background-image: url('../../../images/intro/s3_bg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        left: 0;
        top: 0;
    }
    &::after{
        content: "";
        width: 100%;
        position: absolute;
        height: 46%;
        background-image: url('../../../images/intro/s3_flower.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        left: 0;
        top: 0;
    }
}
@media screen and(max-width: 1024px){
    .intro_s3{
        padding: 60px 30px 26px;
    }
}
@media screen and(max-width: 768px){
    .intro_s3{
        ._title_svg{
            svg{
                width: 100%;
            }
        }
        ._text{
            width: 100%;
        }
        ._slide_img{
            .swiper-slide{
                height: 500px;
            }
        }
        &::before{
            height: 66%;
        }
        &::after{
            height: 66%;
            background-position: bottom;
            background-size: 100%;
        }  
    }
}
@media screen and(max-width: 480px){
    .intro_s3{
        padding: 30px 15px;
        ._title_svg{
            display: none;
        }
        ._title_svg_m{
            display: block;
        }
        ._title_text{
            font-size: 22px;
            line-height: 39px;
            margin-top: 0;
            margin-bottom: 10px;
            width: 100%;
            text-align: left;
        }
        ._text{
            font-size: 14px;
            line-height: 23px;
            width: 100%;
            text-align: justify;
        }
        ._slide_img{
            padding: 20px 0px 18px;
            .swiper-container{
                .swiper-button-next, .swiper-button-prev{
                    background-size: auto;
                    background-color: #4AB587;
                    width: 35px;
                    height: 35px;
                    cursor: pointer;
                    border-radius: 4px;
                    outline: none;
                }
                .swiper-button-prev{
                    background-image: url('../../../images/intro/s3_prev.png');
                }
                .swiper-button-next{
                    background-image: url('../../../images/intro/s3_next.png');
                }
            }
            .swiper-slide{
                height: 300px;
            }
            .pagi-default{
                .swiper-pagination-bullet{
                    width: 7px;
                    height: 7px;
                    &.swiper-pagination-bullet-active{
                        width: 12px;
                        height: 12px;
                        border: 2px solid #4AB587;
                    }
                }
            }
        }
    }
}
.intro_s4{
    ._left_content{
        order: 2;
        padding-right: 0;
        padding-left: percentage(120/1440);
        span{
            font-weight: 600;
        }
        ._title_text{
            padding-left: 80PX;
        }
        ._text{
            padding-left: 80px;
        }
    }
    ._right_img{
        order: 1;
        ._img_left:nth-of-type(1){
            margin-top: 0px;
        }
        ._img_left:nth-of-type(2){
            margin-top: 30px;
        }
        // ._img_right{
        //     margin-top: 30px;
        // }
        ._group{
            background-image: url('../../../images/intro/s4_flower.png');
        }
    }
}
@media screen and(max-width: 1024px){
    .intro_s4{
        ._left_content{
            padding-left: 30px;
        }
    }
}

@media screen and(max-width:768px){
    .intro_s4{
        padding: 60px 30px;
        flex-wrap: wrap;
        ._left_content{
            width: 100%;
            padding-left: 0;
            order: 1;
            ._title_text{
                padding-left: 0;
                width: 76%;
                &::before{
                    content: none;
                }
            }
            ._text{
                padding-left: 0;
            }
        }
        ._right_img{
            order: 2;
            width: 100%;
            margin-top: 30px;
        }
    }
}
@media screen and(max-width: 480px){
    .intro_s4{
        padding: 0px 15px 30px;
        ._left_content{
            ._title_svg{
                svg{
                    width: 85%;
                }
            }
            ._title_text{
                font-size: 22px;
                line-height: 35px;
                margin-top: 0px;
                width: 90%;
            }
            ._text{
                font-size: 14px;
                line-height: 23px;
                margin-top: 10px;
            }
        }
        ._right_img{
            width: 100%;
            margin-top: 15px;
            ._img_left, ._img_right{
                height: 350px;
            }
            ._img_left:nth-of-type(2){
                margin-top: 19px;
            }
            // ._img_right{
            //     margin-top: 19px;
            // }
            ._group{
                background-size: contain;
                height: 130px;
            }
        }
    }
}
.intro_s5{
    padding: 0 percentage(120/1440) 70px;
    text-align: center;
    font-family: 'GOTHAM BOOK';
    position: relative;
    ._title_svg_m{
        display: none;
        position: relative;
        z-index: 1;
        svg{
            width: 85%;
        }
    }
    ._title_text{
        margin-top: 30px;
        font-size: 26px;
        line-height: 39px;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #4B423E;
        margin-bottom: 15px;
        position: relative;
        z-index: 1;
    }
    ._text{
        width: 80%;
        margin: 0 auto;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.01em;
        color: #676767;
        position: relative;
        z-index: 1;
    }
    ._map{
        margin-top: 30px;
        position: relative;
        z-index: 1;
        img{
            width: 100%;
        }
        .fa{
            position: absolute;
            right: 0;
            bottom: 0;
            color: #ffffff;
            line-height: 75px;
            padding: 0px 26px;
            font-size: 26px;
            cursor: pointer;
            background: #4AB587;
            border-radius: 4px;
        }
    }
    &::before{
        content: "";
        width: 100%;
        position: absolute;
        height: 46%;
        background-image: url('../../../images/intro/s5_bg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        left: 0;
        bottom: 0;
    }
    &::after{
        content: "";
        width: 100%;
        position: absolute;
        height: 46%;
        background-image: url('../../../images/intro/s5_flower.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        left: 0;
        bottom: 0;
    }
}
@media screen and(max-width: 1024px){
    .intro_s5{
        padding: 0 30px 70px;
    }
}

@media screen and(max-width: 768px){
    .intro_s5{
        ._title_svg{
            svg{
                width: 100%;;
            }
        }
        ._title_text{
            text-align: left;
        }
        ._text{
            width: 100%;
            text-align: justify;
        }
        &::after{
            background-position: bottom;
            background-size: 100%;
        }
    }
}
@media screen and(max-width: 480px){
    .intro_s5{
        padding: 0 15px 50px;
        ._title_svg_m{
            display: block;
            text-align: left;
        }
        ._title_svg{
            display: none;
        }
        ._title_text{
            font-size:20px;
            line-height: 39px;
            text-align: left;
            margin-top: 0;
            margin-bottom: 10px;
        }
        ._text{
            font-size: 14px;
            line-height: 23px;
        }
        &::after{
            height: 25%;
            background-position: bottom;
        }
        &::before{
            height: 25%;
            background-position: bottom;
        }
        ._map{
            margin-top: 15px;
            .fa{
                line-height: 35px;
                padding: 0px 10px;
                font-size: 16px;
            }
        }
    }
}

