
._page_contact{
    // padding-top: 100px;
    font-family: 'GOTHAM BOOK';
    color: #4B423E;
    @media(max-width: 768px){
        // padding-top: 64px;
    }
    ._contact_s1{
        padding: 0px 180px 54px;
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 1024px){
            padding: 0 90px 54px;
        }
        @media (max-width: 768px){
            padding: 45px 20px;
        }
        @media (max-width: 480px){
            padding: 45px 20px;
        }
        ._left{
            width: percentage(554/1440);
            @media (max-width: 768px){
                width:100%;
                margin-bottom: 30px;
            }
            @media (max-width: 480px){
                margin-bottom: 20px;
            }
            svg{
                width: 266px;
                height: auto;
            }
        }
        ._right{
            width:100% - percentage(554/1440);
            @media (max-width: 768px){
                width:100%;
            }
            p{
                font-size: 18px;
                line-height: 24px;
                color: #4B423E;
                font-weight: bold;
                margin-bottom: 10px;
            }
            ._text{
                font-size: 16px;
                line-height: 21px;
                margin-bottom: 30px;
                @media (max-width: 480px){
                    margin-bottom: 15px;
                }
            }
            span{
                margin-right: 50px;
                @media (max-width: 480px){
                    margin-right: 0;
                    display: block;
                }
                &:last-child{
                    margin-right: 0;
                }
                i{
                    margin-right: 10px;
                    color: #4AB587;
                }
                a{
                    color: #4B423E;
                }
            }
        }
    }
    ._contact_2{
        padding: 0 25px;
        @media (max-width: 1024px){
            padding: 0 30px;
        }
        @media (max-width: 768px){
            padding: 0 20px;
        }
        iframe{
            width: 100% !important;
            height: 540px !important;
            @media (max-width: 480px){
                height: 275px !important;
            }
        }
    }

    ._contact_s3{
        padding: 100px percentage(120/1440) 60px percentage(180/1440);
        display: flex;
        flex-wrap: wrap;
        @media(max-width: 1024px)
        {
            padding: 50px 30px 50px 90px;
        }
        @media (max-width: 768px){
            width:100%;
            padding: 45px 20px;
        }
        @media (max-width: 480px){
            width:100%;
            padding: 35px 20px 0;
        }
        ._left{
            width: 31.972222%;
            @media (max-width: 768px){
                width:100%;
                margin-bottom: 30px;
            }
            @media (max-width: 480px){
                margin-bottom: 20px;
            }
            ._text{
                font-family: 'GOTHAM BOLD';
                font-size: 26px;
                line-height: 34px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #4AB587;
                @media(max-width: 480px){
                    font-size: 18px;
                    line-height: 30px
                }
            }
            ._title{
                margin-top: 0;
            }
        }
        ._between{
            width: 40.611111%;
            padding: 0 percentage(68/1440) 0 percentage(56/1440);
            @media (max-width: 768px){
                width:100%;
                padding: 0;
            }
            ._address{
                font-weight: bold;
                margin-bottom: 15px;
                font-size: 18px;
                line-height: 24px;
                color: #4B423E;
            }
            p{
                margin-bottom: 15px;
            }
        }
        ._right{
            width: 26.583333%;
            @media (max-width: 768px){
                width:100%;
            }
            ._hotline{
                a{
                    color: #4B423E;
                }
                p{
                    &:nth-of-type(1){
                        font-size: 18px;
                        text-transform: uppercase;
                        line-height: 24px;
                    }
                    &:nth-of-type(2){
                        font-size: 20px;
                        text-transform: uppercase;
                        font-family: 'GOTHAM BOLD';
                    }
                }
            }
            ._mail{
                margin-top: 15px;
                i{
                    color: #4AB587;
                    margin-right: 10px;
                }
                a{
                    color: #4B423E;
                }
            }
        }
    }
    ._title{
        font-size: 26px;
        line-height: 39px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-top: 10px;
        position: relative;
        &::before{
            content: "";
            width: 50px; 
            height: 1px;
            position: absolute;
            background: #4B423E;
            top: 50%;
            transform: translateY(-50%);
            left: -60px;
            @media(max-width: 768px){
                content:none;
            }
        }
    }
    // .page-title{
    //     &::after{
    //         @media(max-width: 768px){
    //             content: none;
    //         }
    //     }
    // }
}