
section{
	font-family: 'GOTHAM BOOK';
}
section._1{
	.swiper-container{
		height: calc(100vh - 100px);
		width: calc(100% - 50px);
		margin: auto;
		margin-top: 100px;
		border-radius:5px;
		@media (max-width: 1024px){
			width: 100%;
			border-radius:0px;
			height: calc(100vh - 60px); 
			margin-top: 60px;
		}
		@media (max-width: 768px){
			height:70vh; 
		}
		@media (max-width: 480px){ 
			margin-top: 65px;
			height: 472px;
		}
		.swiper-wrapper{
			.swiper-slide{
				transition: 1s;
				position: relative;
				&:before{
					z-index: 1;
					position: absolute;
					content: "";
					background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65.42%, rgba(0, 0, 0, 0.71) 100%);
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					opacity: 1;
				}
				.background{
					height: 100%;
					width: 100%;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					position: relative; 
					animation:imageScaleAnimation 30s infinite ease;
				}
				.title-s1{
					position: absolute;
					left: 50%;
					bottom: 70px;
					transform: translateX(-50%);
					text-align: center;
					z-index: 2;

					width: max-content;
					@media (max-width: 768px){
						
					}
					p{
						color:white;
						&:nth-of-type(1){
							font-family: 'UTM Yen Tu';
							font-size: 45px;
							// text-shadow: 19px 19px 20px #000000;
							@media (max-width: 480px){
								font-size: 38px;
							}
						}
						&:nth-of-type(2){
							text-transform: uppercase;
							font-size: 45px;
							// text-shadow: 19px 10px 19px #000000; 
							@media (max-width: 768px){
								font-size: 30px;
							}
						}
					}
				}
			}
		}		
		.pagi-default{
			width:max-content;
			left: percentage(240/1440);
			bottom:30px;
		}
	}
}
section._2{
	margin-top: 25px;
	position: relative;
	padding: 170px 0 80px;
	overflow: hidden; 
	@media(max-width: 1024px){
		margin-top: 0;
	}
	@media(max-width: 768px){
		padding: 120px 0 20px;
	}
	@media(max-width: 480px){
		padding: 90px 0 0px;
	}
	.background{
		width: 100%;
		height: 600px;
		background: #4B423E;
		position: absolute;
		top: 0;
		@media(max-width: 768px){
			height: 363px;
		}
		@media(max-width: 480px){
			height: 175px;
		}
		svg{
			width: percentage(1115/1440);
			margin: 60px percentage(163.5/1440) 45px;
			stroke-width:17; 
			transition:transform .5s ease-out;
			@media(max-width: 768px){
				margin-top: 40px;
			}
			@media(max-width: 480px){
				margin: 10px 20px;
				width: calc(100% - 40px);
			}
			#stroke {
				.s {
					stroke-dasharray: 1200;
					stroke-dashoffset: 1200;
					stroke-width:5;
					animation:summerbird-s .75s linear forwards .5s;
				}

				.ummerbird {
					stroke-dasharray: 2400;
					stroke-dashoffset: 2400;
					stroke-width:5;
					animation: summerbird-ummerbird 1.5s linear forwards 1.1s;
				}

				.dot {
					opacity:0;
					stroke-width:30;
					stroke-linecap:round;
					animation: summerbird-dot .175s linear forwards 2.75s;
				}
			}
		}
		img{
			position: absolute;
			bottom:0;
			left: 0;
			width: 100%;
		}
	}
	.content{ 
		width: percentage(997/1440); 
		position: relative;
		margin: auto;
		@media (max-width:1024px){
			width: calc(100% - 60px); 
		}
		@media (max-width:768px){ 
			display: flex;
			flex-direction: column;
		}
		@media(max-width:480px){
			width: calc(100% - 30px);
		}
		.images{
			width: 100%;
			img{
				width: 100%;				 
			}
			@media(max-width:768px){
				order:1;
			}
		}
		.text{ 
			margin-bottom: 25px;
			@media(max-width:1280px){
				margin-bottom: 50px;
			}
			@media(max-width:768px){
				order:2;
				margin: 30px 0 ;
			}
			p{ 
				text-align: center;

				&:nth-of-type(1){
					font-size: 26px;
					line-height: 39px;
					letter-spacing: 0.04em;
					text-transform: uppercase;
					color: white;
					@media(max-width:768px){
						color: #4B423E;
					}
				}
				&:nth-of-type(2){ 
					font-size: 16px;
					line-height: 26px;
					letter-spacing: 0.01em;
					color: white;
					@media(max-width:768px){
						color: #676767;
					}
				}
			}
		}
	}
} 
@media screen and(max-width: 480px){
	section._2{
		margin-top: 0;
	}
}
.pagi-default{
	display: flex;
	align-items: center;
	justify-content: center;
	.swiper-pagination-bullet{
		border-radius:50%;
		width: 10px;
		height: 10px;
		background: #D6D6CF;
		border:none;
		opacity: 1;
		transition:0.4s; 
		margin: 0!important;
		margin-right: 16px!important;
		outline: 0;
		box-shadow: 19px 10px 19px #000000;
		&.swiper-pagination-bullet-active{
			width: 16px;
			height: 16px;
			background: transparent;
			border: 4px solid #FFFFFF;
		}
	}
}

@-webkit-keyframes imageScaleAnimation {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@-moz-keyframes imageScaleAnimation {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes imageScaleAnimation {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}






















@keyframes summerbird-s {
	0% {
		stroke-dashoffset: 1200
	}
	33% {
		stroke-width:5;
	}
	90% {
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dashoffset: 0;
		stroke-width:17;
	}
}
@keyframes summerbird-ummerbird {
	0% {
		stroke-dashoffset: 2400;
	}
	100% {
		stroke-dashoffset: 0;
		stroke-width:15;
	}
}
@keyframes summerbird-dot {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@keyframes summerbird-organic {
	0% {
		opacity:0;
		stroke-dashoffset: 200;
	}
	100% {
		opacity:1;
		stroke-dashoffset: 0;
	}
}