.section_6{
    display: flex;
    overflow: hidden;
    margin-top: 0;
    ._content{
        width: 48%;
        padding-left: 8.333333%;
        padding-right: 7.3611111111%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #4B423E;
        color: #FFFFFF;
        font-family: 'GOTHAM BOOK';
        overflow: hidden;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 395px;
            left: 0;
            bottom: 0;
            background-image: url('../../../images/home/s6_Group.png');
            background-repeat: no-repeat;
        }
        ._title{
            font-size: 26px;
            line-height: 39px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            margin-bottom: 23px;
            z-index: 1;
            position: relative;
        }
        ._text{
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.01em;
            z-index: 1;
            position: relative;
            opacity: 0.8;
            p{
                margin-bottom: 10px;
            }
        }
    }
    ._img_map{
        width: 62%;
        position: relative;
        img{
            width: 100%;
        }
        ._button_zoom{
            position: absolute;
            right: 20px;
            bottom: 20px;
            display: flex;
            ._zoom_control{
                width: 30px;
                height: 30px;
                margin: 0 7px;
                border-radius: 50%;
                background: #4B423E;
                text-align: center;
                i{
                    color: #fff;
                    line-height: 30px;
                }
            }
        }
    }
}
@media screen and(max-width: 1024px){
    .section_6{
        ._content{
            padding: 30px;
        }
    }
}

@media screen and(max-width: 768px){
    .section_6{
        flex-wrap: wrap;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        ._content{
            padding: 51px 20px 74px 20px;
            width: 100%;
            &::before{
                background-size: 100% 100%;
            }
        }
        ._img_map{
            width: 100%;
            ._button_zoom{
                position: absolute;
                right: 20px;
                bottom: 20px;
                display: flex;
                ._zoom_control{
                    width: 50px;
                    height: 50px;
                    margin: 0 7px;
                    border-radius: 50%;
                    background: #4B423E;
                    text-align: center;
                    i{
                        color: #fff;
                        line-height: 50px;
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

@media screen and(max-width: 480px){
    .section_6{
        flex-wrap: wrap;
        margin-top: 0px;
        ._content{
            width: 100%;
            padding: 51px 20px 74px 20px;
            &::before{
                background-size: cover;
                background-position: center center;
            }
            ._title{
                width: 80%;
            }
        }
        ._img_map{
            width: 100%;
            ._button_zoom{
                ._zoom_control{
                    width: 30px;
                    height: 30px;
                    i{
                        line-height: 30px;
                        font-size: 20px;
                    }
                }
            }
        }
    }   
}
@media screen and(max-width: 320px){
    .section_6{
        ._content{
            ._title{
                width: 100%;
            }
        }
    }
}

/*-------------------------------------*/
.section_7{
    margin-top: 80px;
    overflow: hidden;
    ._slide_Library{
        .swiper-container{
            padding-left: 9.652778%;
            padding-right: 4.236111%;
            overflow: initial;
            .swiper-slide{
                display: flex;
                flex-wrap: wrap;
                position: relative;
            }
            a{
                width: calc(25% - 10px);
                height: 300px;
                margin-right: 10px;
                overflow: hidden;
            }
            a:nth-of-type(3){
                width: calc(50% - 10px);
                height: 610px;
                margin-right: 10px;
            }
            a:nth-of-type(4){
                position: absolute;
                left: 0;
                bottom: 0;
            }
            a:nth-of-type(5){
                position: absolute;
                left: 25%;
                bottom: 0;
            }

            ._slide_item{
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                margin-right: 10px;
                position: relative;
                cursor: pointer;
                transition: all .4s ease;
                &::after{
                    content: "";
                    position: absolute;
                    width: 78px;
                    height: 78px;
                    background-image: url('../../../images/home/s7_Union.png');
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(0);
                    transition: all .3s ease;
                }
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0%;
                    height: 0%;
                    background: #4ab58785;
                    transition: all .3s ease;
                }
                &:hover{
                    transform: scale(1.1);
                    &::after{
                        transform: translate(-50%, -50%) scale(1);
                    }
                    &::before{
                        width: 100%;
                        height: 100%;
                    }
                }

            }
            .swiper-pagination{
                bottom: -51px;
            }

            .pagi-default{
                .swiper-pagination-bullet{

                    background: #4AB587;
                    box-shadow: unset;
                    &.swiper-pagination-bullet-active{
                        width: 16px;
                        height: 16px;
                        background: transparent;
                        border: 4px solid #4AB587;
                    }
                }
            }
        }
    }
    ._button_library{
        line-height: 40px;
        background: #4AB587;
        width: 268px;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        font-family: 'GOTHAM BOOK';
        margin: 0 auto;
        margin-top: 75px;
        cursor: pointer;
        border-radius: 4px;
        a{
            padding: 11px 28px;
            color: #ffffff;
        }
    }

    ._slide_library_mobile{
        display: none;
    }
}

@media screen and(max-width: 1024px){
    .section_7{
        ._slide_Library{
            .swiper-container{
                a{
                    width: calc(25% - 10px);
                    height: 211px;
                    margin-right: 10px;
                }
                a:nth-of-type(3){
                    width: calc(50% - 10px);
                    height: 432px;
                    margin-right: 10px;
                }
                a:nth-of-type(4){
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
                a:nth-of-type(5){
                    position: absolute;
                    left: 25%;
                    bottom: 0;
                }
            }
        }
    }
}

@media screen and(max-width: 768px){
    .section_7{
        margin-top: 47px;
        ._slide_Library{
            display: none;
        }
        ._slide_library_mobile{
            display: block;
            position: relative; 
            .swiper-container{
                overflow: initial;
                margin-right: 3.733333%;
                .swiper-slide{
                    display: flex;
                    flex-wrap: wrap;
                    position: relative;
                    ._slide_item{
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        background-position: center center;
                    }
                    a:nth-of-type(1){
                        width: 33.565333%;
                        height: 247.9px;
                        margin-right: 4.2px;
                    }

                    a:nth-of-type(2){
                        width: calc(66.434667% - 4.2px);
                        height: 500px;
                    }

                    a:nth-of-type(3){
                        width: 33.565333%;
                        height: 247.9px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        margin-right: 4.2px;
                        margin-top: 4.2px;
                    }
                }
            }
            .swiper-pagination{
                bottom: -51px;
                width: 100% !important;
            }
            .pagi-default{
                .swiper-pagination-bullet{

                    background: #4AB587;
                    box-shadow: unset;
                    &.swiper-pagination-bullet-active{
                        width: 16px;
                        height: 16px;
                        background: transparent;
                        border: 4px solid #4AB587;
                    }
                }
            }
        }
    }
}

@media screen and(max-width: 480px){
    .section_7{
        ._slide_Library{
            display: none;
        }
        ._slide_library_mobile{
            display: block;
            .swiper-container{
                overflow: initial;
                margin-right: 3.733333%;
                .swiper-slide{
                    display: flex;
                    flex-wrap: wrap;
                    position: relative;
                    ._slide_item{
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        background-position: center center;
                    }
                    a:nth-of-type(1){
                        width: 33.565333%;
                        height: 125.865px;
                        margin-right: 4.2px;
                    }

                    a:nth-of-type(2){
                        width: calc(66.434667% - 4.2px);
                        height: 255.93px;
                        margin-right: 0;
                    }

                    a:nth-of-type(3){
                        width: 33.565333%;
                        height: 125.865px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        margin-right: 4.2px;
                        margin-top: 4.2px;
                    }
                }
            }
            .swiper-pagination{
                bottom: -28.07px;
            }
        }
    }
}

/*-------------------------------------*/
.section_8{
    position: relative;
    ._img_bg{
        width: 59.861111%;
        min-height: 738px;
        background-size: 100% 100%; 
    }
    ._s8_form{
        position: absolute;
        width: 57.430556%;
        top: 50%;
        right: 1%;
        transform: translateY(-50%);
        background: #ffffff;
        padding: 54px 208px 37px 77px;
        .form_title{
            ._img_title{
                margin-bottom: 10px;
            }
            ._title_mobile{
                margin-bottom: 10px;
                display: none;
                font-size: 35px;
                line-height: normal;
                font-family: 'UTM Yen Tu';
                color: #4AB587;
            }
            ._title_ipad{
                display: none;
            }
            ._title{
                font-family: 'GOTHAM BOOK';
                font-size: 26px;
                line-height: 39px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #4B423E;
            }
            ._text{
                font-family: 'GOTHAM BOOK';
                font-size: 12px;
                line-height: 19px;
                letter-spacing: 0.01em;
                color: #4B423E;
                opacity: 0.6;
            }
        }
        ._form_content{
            margin-top: 36px;
            ._form_group{
                margin-top: 24px;
                position: relative;
            }
            ._form_group:nth-of-type(1){
                margin-top: 0;
            }
            label{
                font-family: 'GOTHAM BOLD';
                width: 100%;
                font-size: 12px;
                line-height: normal;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #676767;
                margin-bottom: 4px;
            }
            ._form_control{
                width: 100%;
                height: 40px;
                padding: 13px;
                box-sizing: border-box;
                font-size: 12px;
                font-family: 'GOTHAM BOOK';
                // opacity: 0.3;
                border: 1px solid #67676745;
                outline: none;
                &:focus{
                    background: rgba(74, 181, 135, 0.3);
                    opacity: 1;
                }
            }

            ._error_msg{
                color: red;
                position: absolute;
                bottom: -17px;
                font-size: 12px;
                right: 0;
                font-family: 'GOTHAM BOOK';
            }

            ._btn_submit{
                button{
                    background: none;
                    line-height: 40px;
                    width: 160px;
                    background: #4AB587;
                    border-radius: 4px;
                    border: none;
                    margin-top: 43px;
                    outline: none;
                    cursor: pointer;
                    font-family: 'GOTHAM BOOK';
                    font-size: 16px;
                    letter-spacing: 0.04em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
                .btn_animation{
                    &::before{
                        content: "";
                        position: absolute;
                        width: 150%;
                        height: 150%;
                        background: rgba(255,255,255,0.5);
                        transform: rotate(45deg) translate3d(-50px, -270%, 0);
                        transition: transform 0.7s;
                    }
                    &:hover::before{
                        transform: rotate(45deg) translate3d(-50px, 370%, 0);
                    }
                }
            }
            .message{
                font-size: 14px;
                font-family: 'GOTHAM BOOK';
                color: red;
                position: absolute;
                line-height: 40px;
            }

            .frm_msg2{
                font-family: 'GOTHAM BOOK';
                font-size: 18px;
                line-height: 25px;
                letter-spacing: 0.01em;
                color: #4B423E;
            }
        }
    }
    ._group{
        position: absolute;
        background-image: url('../../../images/home/s8_Group.png');
        right: 0;
        bottom: 0;
        width: 265px;
        height: 445px;
    }
}

@media screen and (max-width: 1024px){
    .section_8{
        ._img_bg{
            background-size: 100%; 
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        ._s8_form{
            padding: 54px 105px 37px 30px;
        }
        ._group{
            width: 200px;
        }
    }
}

@media screen and (max-width: 768px){
    .section_8{
        ._img_bg{
            display: none;
        }
        ._s8_form{
            transform: translateY(0%);
            width: 100%;
            padding: 45px 20px 86px 20px;
            position: initial;
            background: #FFFFFF;;
            .form_title{
                ._img_title{
                    width: 630px;
                }
                ._img_title{
                    margin-bottom: 10px;
                    display: none;
                }
                ._title_mobile{
                    margin-bottom: 23px;
                    display: none;
                }
                ._title_ipad{
                    display: block;
                    padding-bottom: 10px;
                }
            }
            ._form_content{
                label{
                    color: #4B423E;
                }
                ._form_control{
                    background: none;
                    color: #4B423E;
                    opacity: 0.8;
                    border: 1px solid #676767;
                    &:focus{
                        background: rgba(74, 181, 135, 0.3);
                        border: 1px solid #138655;
                    }
                }
            }
        }
        ._group{
            width: 200px;
            height: 336px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
        }
    }
}

@media screen and (max-width: 480px){
    .section_8{
        ._img_bg{
            display: none;
        }
        ._s8_form{
            width: 100%;
            padding: 45px 20px 86px 20px;
            position: initial;
            .form_title{
                ._img_title{
                    margin-bottom: 10px;
                    display: none;
                }
                ._title_mobile{
                    margin-bottom: 10px;
                    display: block;
                    svg{
                        width: 100%;
                    }
                }
                ._title{
                    font-size: 26px;
                    line-height: 39px;
                    margin-bottom: 15px;
                }
                ._title_ipad{
                    display: none;
                }
                ._text{
                    font-size: 12px;
                    line-height: 19px;
                }
            }
            ._form_content{
                label{
                    font-size: 12px;
                    line-height: normal;
                }
                ._form_control{
                    background: none;
                    opacity: 0.8;
                    font-size: 12px;
                    height: 40px;
                    &:focus{
                        background: rgba(74, 181, 135, 0.3);
                        border: 1px solid #138655;
                    }
                }
                ._error_msg{
                    bottom: -17px;
                    font-size: 12px;
                }
                .message{
                    font-size: 14px;
                    line-height: 40px;
                }

                .frm_msg2{
                    font-size: 14px;
                    line-height: 20px;
                }

                ._btn_submit{
                    button{
                        margin-top: 43px;
                        line-height: 40px;
                        width: 160px;
                        font-size: 16px;
                    }
                }
            }
        }
        ._group{
            position: absolute;
            right: 0;
            bottom: 0;
            width: 113px;
            height: 220px;
            background-position: bottom;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

.section_8_1{
    margin-top: 45px;
    position: relative;
    ._bg{
        height: 680px;
        position: relative;
        background-size: 100% 100%;
        &::before{
            content: "";
            @include absoluteFull;
            background: #00000052;
        }
    }
    ._content{
        position: absolute;
        color: #ffffff;
        font-family: 'GOTHAM BOOK';
        left: 8.333333%;
        top: 50%;
        transform: translateY(-50%) !important;
        ._title{
            font-size: 26px;
            line-height: 39px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            margin-top: 17px;
        }
        .title_m{
            display: none;
        }
        ._text{
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.01em;
            margin-top: 46px;
            a{
                color: #ffffff;
                transition: all .4s ease;
                &:hover{
                    color: #4AB587;
                }
            }
        }
    }
    ._download{
        position: absolute;
        right: 8.333333%;
        color: #4B423E;
        padding: 60px 40px;
        top: 50%;
        transform: translateY(-50%);
        width: 522px;
        font-family: 'GOTHAM BOOK';
        background: #ffffff;
        ._document{
            font-size: 22px;
            line-height: 33px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
        }
        ._select_download{
            position: relative;
            ._input_text{
                width: 76%;
                height: 40px;
                background: #6767671c;
                line-height: 40px;
                padding-left: 17px;
                font-size: 14px;
                position: relative;
                cursor: pointer;
                &::before{
                    content: "";
                    width: 6px;
                    height: 11px;
                    background-image: url('../../../images/home/s8_1_top_down.png');
                    position: absolute;
                    right:  12px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            ._text_list{ 
                position: absolute;
                left: 0;
                width: 76%;
                background: #ffffff;
                display: none;
                top: 40px;
                overflow: hidden;
                box-shadow: 0px 24px 44px -24px #6767677a;
                cursor: pointer;
                ._text_item{
                    padding-left: 17px;
                    line-height: 40px;
                    font-size: 13px;
                    transition: all .4s ease;
                    border-bottom: 1px solid #6767670d;
                    &:hover{
                        background: #4AB587;
                        color: #ffffff;
                    }
                }
                ._text_item:last-child{
                    border-bottom: none;
                }
            }
            ._button_download{
                position: absolute;
                height: 40px;
                width: 24%;
                text-align: center;
                background: #4AB587;
                font-family: 'GOTHAM BOOK';
                font-size: 16px;
                line-height: 40px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #FFFFFF; 
                top: 0;
                right: 0;
                cursor: pointer;
                &.btn_animation{
                    &::before{
                        transform: rotate(45deg) translate3d(-20px, -290%, 0);
                    }
                    &:hover::before{
                        transform: rotate(45deg) translate3d(-20px, 390%, 0);
                    }
                }
            }
        }
        ._comment{
            font-size: 14px;
            line-height: 23px;
            letter-spacing: 0.01em;
            margin-top: 34px;
        }
    }
}

@media screen and(max-width: 1024px){
    .section_8_1{
        ._bg{
            background-position: center center;
            background-size: cover;
        }
        ._content{
            left: 30px;
        }
        ._download{
            right: 30px;
        }
    }
}

@media screen and(max-width: 768px){
    .section_8_1{
        padding: 64px 20px;
        ._bg{
            background-position: center center;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        ._content{ 
            transform: translateY(0%) !important; 
            position:unset;
            img{
                width: 660px;
            } 
            ._title{
                margin: 20px 0;
            }
            ._text{
                margin-top: 0;
            }
        }
        ._download{ 
            transform: translateY(0); 
            width:100%; 
            position:unset;
            margin-top: 40px;
        }
    }
}

@media screen and(max-width: 480px){
    .section_8_1{
        ._bg{
            height: 680px;
        }
        ._content{
            top: 64px;
            left: 20px;
            img{
                width: 300px;
            }
            ._title{
                font-size: 26px;
                line-height: 39px;
                margin-top: 13px;
            }
            .title_m{
                display: block;
                svg{
                    width: 100%;
                    padding-right: 20px;
                }
            }
            .title{
                display: none;
            }
            ._text{
                margin-top: 13px;
                font-size: 16px;
                line-height: 26px;
            }
        }
        ._download{
            bottom: 64px;
            padding: 45px 20px 30px 20px;
            left: 20px;
            right: 20px;
            ._document{
                font-size: 22px;
                line-height: 33px;
            }
            ._select_download{
                ._input_text{
                    height: 40px;
                    margin-top: 17px;
                    width: 65%;
                    line-height: 40px;
                    font-size: 14px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    padding-right: 31px;
                    &::before{
                        content: "";
                        width: 6px;
                        height: 11px;
                        background-size: 100% 100%;
                        right: 15px;
                    }
                }
                ._text_list{
                    padding-bottom: 10px;
                    padding-top: 10px;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    background: #ffffff;
                    display: none;
                    top: 40px;
                    overflow: hidden;
                    cursor: pointer;
                    ._text_item{
                        padding-left: 17px;
                        line-height: 40px;
                        font-size: 14px;
                    }
                }
                ._button_download{
                    height: 40px;
                    width: 35%;
                    font-size: 16px;
                    line-height: 40px;
                }
            }
            ._comment{
                margin-top: 30px;
                font-size: 13px;
                line-height: 21px;
            }
        }
    }
}
@media screen and(max-width: 320px){
    .section_8_1{
        ._content{
            top: 20px;
        }
        ._download{
            bottom: 30px;
        }
    }
}

.btn_animation{
    overflow: hidden;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        width: 110%;
        height: 110%;
        background: rgba(255,255,255,0.5);
        transform: rotate(45deg) translate3d(-0px, -290%, 0);
        transition: transform 0.5s;
    }
    &:hover::before{
        transform: rotate(45deg) translate3d(-0px, 390%, 0);
    }
}
.g-recaptcha{
    margin-top: 24px;
    // overflow: hidden;
    @media(max-width:320px){
        transform:scale(0.77);
        -webkit-transform:scale(0.77);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
        div{
            // width: 100% !important ;
            iframe{
                // width: 100% !important;
            }
        }
    }
}