
.section_3, .section_4, .section_5{
	width: 100%;
	display: flex;
	position: relative;
	overflow: hidden;
	@include mediaMaxWidth(768px){
		flex-direction: column; 
	}
	.left{ 
		width: 50%;
		img{
			width: 100%;
			height: auto;
			display: block;
		}
		@include mediaMaxWidth(768px){
			width: 100%;
		}
	}
	.right{
		padding: 60px;
		min-height:590px;
		width: 50%;
		padding-right: percentage(120/1440);
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: percentage(106/1440);
		@include mediaMaxWidth(1024px){
			padding-right: 30px;
		}
		@include mediaMaxWidth(768px){
			width: 100%;
			padding: 40px 20px!important;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-end;
			min-height: unset;
		}
		@include mediaMaxWidth(480px){
			padding-right: 15px;
			padding-top: 0;
		}
		.title{
			font-family: 'GOTHAM BOOK';
			font-size: 55px;
			line-height: normal;
			text-align: right;
			letter-spacing: 0.01em;
			text-transform: uppercase;
			padding-bottom: 35px;
			@include mediaMaxWidth(1024px){
				font-size: 45px;
				padding-bottom: 20px;
			}
			svg{
				@include mediaMaxWidth(480px){
					width: 100%;
				}
			}
			@include mediaMaxWidth(480px){
				padding-bottom: 0;
			}
			
		}
		.desr{
			font-family: 'GOTHAM BOOK';
			font-size: 26px;
			line-height: 39px;
			text-align: right;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			padding-bottom: 15px;
			@include mediaMaxWidth(480px){
				font-size: 25px;
				line-height:30px;
			}
		}
		.text{
			font-family: 'GOTHAM BOOK';
			font-size: 16px;
			line-height: 26px;
			text-align: right;
			letter-spacing: 0.01em;
			color: #676767;
		}
	}
	.decor{
		position: absolute;
		bottom: 0;
		left: 45%;
		transform: translateX(-50%);
		width: percentage(415/1440);
		@include mediaMaxWidth(768px){
			right:0;
			left: auto;
			transform: inherit;
			top:322px;
		}
		img{
			width: 100%;
			height: auto;
			display: block;
		}
		@include mediaMaxWidth(480px){
			width: 230px;
			top: 131px;
		}
	}
	
	svg{
		@media (max-width:1024px){
			width: 100%;
		}
	}
}
.section_3{
	.decor{
		@include mediaMaxWidth(768px){
			right: -50px;
		}
	}
}
.section_4{
	flex-direction: row-reverse;
	overflow: hidden;
	@include mediaMaxWidth(768px){
		flex-direction: column;
	}
	.right{
		// padding: 138px;
		padding-left: percentage(120/1440);
		padding-right: percentage(106/1440);
		@include mediaMaxWidth(1024px){
			padding-left: 30px;
		}
		@include mediaMaxWidth(768px){
			width: 100%;
			align-items: baseline;
		}
		@include mediaMaxWidth(480px){
			padding-left: 15px;
		}
		.title, .desr, .text{
			text-align: left;
		}
		.desr{
			@include mediaMaxWidth(1024px){
				font-size: 25px;
			}
			@include mediaMaxWidth(480px){
				font-size: 20px;
			}
			width: 80%;
		}
	}
	.decor{
		left: 55%;
		@include mediaMaxWidth(768px){
			left:0;
			bottom: 37%;
		}  
		@include mediaMaxWidth(768px){
			left: -50px;
		}
	} 
	.left{
		@include mediaMaxWidth(768px){
			width: 100%;
		}
	}
}
.section_5{
	position: relative;
	@include mediaMaxWidth(768px){
		flex-direction: column;
	}
	.right{
		padding-right: percentage(120/1440);
		padding-left: percentage(106/1440);
		@include mediaMaxWidth(1024px){
			padding-right: 30px;
			padding-left: 60px;
		}
		@include mediaMaxWidth(768px){
			padding: 0 20px !important;
			align-items: center;
		}
		@include mediaMaxWidth(480px){
			padding-right: 15px;
			padding-left: 15px;
		}
		.title, .desr, .text{
			text-align: left;
		}
		.desr{
			@include mediaMaxWidth(480px){
				text-align: 	center;
				padding-bottom: 0;
			}
		}
		.text{
			@include mediaMaxWidth(768px){
				padding-bottom: 25px;
			}
		}
		.title{
			padding-bottom: 20px;
			@include mediaMaxWidth(768px){
				display: none;
			}
		}
		.link{
			display: inline-block;
			padding-top: 30px;
			padding: 30px 0;
			@include mediaMaxWidth(1024px){
				padding-top: 10px;
				margin-top: 20px;
			}
			@include mediaMaxWidth(768px){
				text-align: center;
				margin-top: 0;
			}
			a{
				font-family: 'GOTHAM BOOK';
				font-size: 16px;
				line-height: 26px;
				letter-spacing: 0.04em;
				text-transform: uppercase;
				color: #FFFFFF;
				background: #4AB587;
				border-radius: 4px;
				padding: 12px 34px;
			}
		}
	}
	.left{
		@include mediaMaxWidth(768px){
			padding-bottom: 60px;
		}
		@include mediaMaxWidth(480px){
			padding-bottom: 30px;
		}
		.swiper-button-next, .swiper-button-prev{
			background-image: none;
			background: #4AB587;
			width: 60px;
			height: 60px;
			outline: none;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			opacity: 1;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: auto;
			@include mediaMaxWidth(768px){
				left: auto;
				right: 0;
				transform: initial;
			}
			img{
				max-width: 100%;
				height: auto;
				display: block;
				width: auto;
			}
		}
		.swiper-button-next{
			bottom: 85px;
			@include mediaMaxWidth(768px){
				bottom: 52%;
			}
			@include mediaMaxWidth(480px){
				width: 40px;
				height: 40px;
				bottom: 69%;
			}
		}
		.swiper-button-prev{
			bottom: 20px;
			@include mediaMaxWidth(768px){
				bottom: 45.5%;
			}
			@include mediaMaxWidth(480px){
				width: 40px;
				height: 40px;
				bottom: 61%;
			}
		}
		.swiper-pagination{
			position: absolute;
			bottom: 0;
			right: percentage(120/1440);
			.swiper-pagination-bullet{
				background: #4AB587;
				opacity: 0.8;
				box-shadow: none;
				&.swiper-pagination-bullet-active{
					border: 4px solid #4AB587;
					background: none;
				}
			}
			@include mediaMaxWidth(768px){
				right: auto;
				left: 50%;
				transform: translateX(-50%);
				bottom: 33%;
				@include mediaMaxWidth(480px){
					top: 325px;
					bottom: unset;
				}
			}
		}
		.swiper-container{
			height: 100%;
			.swiper-slide{
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				width: 100%;
				padding-top: 72%;
				@media (max-width:480px){
					padding-top: 315px;
				}
			}
		}
	}
} 
.section_3, .section_4{
	.left{
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		@media (max-width:768px){
			height: 500px;
		}
		@media (max-width:480px){
			height: 315px;
		}
	}
}