.page-news{
	padding-top: 100px;
	display: inline-block;
	width: 100%;
	@include mediaMaxWidth(1024px){
		padding-top: 62px;
	}
	.page-banner{
		width: calc(100% - 50px);
		margin: 0 auto;
		overflow: hidden;
		position: relative;
		// display: flex;
		@include mediaMaxWidth(480px){
			width: calc(100% - 30px);
		}
		.thumnail{
			width: percentage(410 / 1390);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			height: 300px;
			display: inline-block;
			float: left;
			position: relative;
			@include mediaMaxWidth(768px){
				float: inherit;
				width: 49.7%;
			}
			@include mediaMaxWidth(480px){
				width: 100%;
				margin-bottom: 10px;
			}
			.desc{
				// padding-left: 30px;
				// padding-bottom: 20px;
				position: absolute;
				left: 30px;
				bottom: 18px;
				right: 10px;
				@include mediaMaxWidth(480px){
					left: 15px;
				}
				.title{
					font-family: 'GOTHAM BOOK';
					font-size: 18px;
					color: #ffffff;
					border-radius: 100px;
					width: 70%;
					margin-bottom: 5px;
					font-weight: bold;
					@include mediaMaxWidth(1024px){
						width: 95%;
					}
				}
				.time{
					font-family: 'GOTHAM BOOK';
					font-size: 15px;
					line-height: 20px;
					letter-spacing: 0.01em;
					color: #4AB587;
				}
				.news-project{
					font-family: 'GOTHAM BOOK';
					font-size: 13px;
					line-height: 17px;
					letter-spacing: 0.01em;
					color: #4B423E;
					background-color: #ffffff;
					padding: 5px 13px;
					display: inline-block;
					border-radius: 100px;
					margin-bottom: 10px;
				}
			}
			&:nth-of-type(1){
				width: percentage(980 / 1390);
				height: 600px;
				@include mediaMaxWidth(768px){
					width: 100%;
				}
				@include mediaMaxWidth(480px){
					width: 100%;
					height: 455px;
				}
				.desc{
					padding-left: 20px;
					bottom: 20px;
					@include mediaMaxWidth(480px){
						padding-left: 0;
					}
					.title{
						width: 57%;
						font-size: 26px;
						line-height: 34px;
						padding-right: 5px;
						@include mediaMaxWidth(480px){
							width: 100%;
						}
					}
				}
			}
			&:after{
				position: absolute;
				// content: '';
				background-image: url('../../../images/news/phu-top.png');
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
			&:before{
				position: absolute;
				content: '';
				// background-image: url('../../../images/news/phu-botton.png');
				background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65.42%, rgba(0, 0, 0, 0.71) 100%);
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				opacity: 1;
			}
		}
		.breadcrumb{
			position: absolute;
			top: 20px;
			left: 95px;
			z-index: 2;
			color: #ffffff;
			@include mediaMaxWidth(1024px){
				left: 30px;
			}
			@include mediaMaxWidth(480px){
				left: 15px;
			}
			a{
				font-family: 'GOTHAM BOOK';
				font-size: 15px;
				line-height: 23px;
				// color: #FFFFFF;
				&.active{
					font-weight: 700;
				}
			}
		}
	}
	.content-main{
		width: calc(100% - 240px);
		margin: 0 auto;
		@include mediaMaxWidth(1024px){
			width: calc(100% - 60px);
		}
		@include mediaMaxWidth(480px){
			width: calc(100% - 30px);
		}
		.nav{
			padding-top: 40px;
			border-bottom: 2px solid  #DEE7E4;
			margin-bottom: 40px;
			padding-bottom: 22px;
			@include mediaMaxWidth(480px){
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding-top: 15px;
				margin-bottom: 15px;
				padding-bottom: 15px;
			}
			a{
				font-family: 'GOTHAM BOOK';
				font-size: 18px;
				line-height: 27px;
				text-transform: uppercase;
				// color: #4AB587;
				color: #4B423E;
				margin-right: 70px;
				font-weight: bold;
				@include mediaMaxWidth(480px){
					margin-right: 16px;
					margin-bottom: 10px;
				}
				&:hover{
					color: #4AB587;
				}
				&.active{
					color: #4AB587;
					// border-bottom:1px solid #4AB587;
					position: relative;
					padding-bottom: 27px;
					@include mediaMaxWidth(480px){
						padding-bottom: 10px;
					}
					&:after{
						position: absolute;
						content: '';
						height: 4px;
						background-color:#4AB587;
						left: 0;
						bottom: 0;
						width: calc(100% + 10px);
					}
				}
			}
		}
		.list-banner{
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: 100%;
			height: 700px;
			position: relative;
			padding-bottom: 30px;
			display: inline-block;
			&:after{
				position: absolute;
				content:'';
				width: 100%;
				height: 100%;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				background-image: url('../../../images/news/phu-button-list.png');
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}
			.desc{
				position: absolute;
				content: '';
				bottom: 30px;
				left: 50px;
				z-index: 3;
				padding-right: 15px;
				@include mediaMaxWidth(480px){
					left: 15px;
				}
				.title{
					// font-family: 'GOTHAM BOOK';
					font-family: 'GOTHAM BOLD';

					font-size: 26px;
					line-height: 34px;
					color: #FFFFFF;
					padding-bottom: 5px;
				}
				.time{
					font-family: 'GOTHAM BOOK';
					font-size: 15px;
					line-height: 20px;
					letter-spacing: 0.01em;
					color: #4AB587;
				}
			}

		}
		.list-news{
			margin-top: 30px;
			margin-bottom: 80px;
			@include mediaMaxWidth(480px){
				margin-bottom: 0;
			}
			.content-list{
				display: flex;
				flex-wrap: wrap;
				.thumnail-list{
					display: none;
					width: calc((100% - 60px) / 3);
					margin-right: 30px;
					margin-bottom: 30px;
					transition: 0.4s;
					.title{
						display: none;
					}
					&:hover{
						.img{
							&:after{
								// display: block;
								opacity: 1;
							}
							&:before{
								// display: block;
								opacity: 1;
							}
						}
					}
					
					&:nth-of-type(3n + 1){
						margin-right: 0;
					}
					&:nth-of-type(1){
						width: 100%;
						position: relative;
						&:after{
							position: absolute;
							content:'';
							width: 100%;
							height: 100%;
							left: 0;
							right: 0;
							bottom: 0;
							top: 0;
							background-image: url('../../../images/news/phu-button-list.png');
							background-position: center;
							background-repeat: no-repeat;
							background-size: cover;
						}
						&:hover{
							.img{
								&:after{
									opacity: 0;
								}
								&:before{
									opacity: 0;
								}
							}
						}
						.desc-list{
							position: absolute;
							content: '';
							bottom: 30px;
							left: 50px;
							z-index: 3;
							padding-right: 15px;
							padding: 0;
							box-shadow: none;
							@include mediaMaxWidth(768px){
								left: 30px;
							}
							@include mediaMaxWidth(480px){
								left: 15px;
								bottom: 15px;
							}
							.title{
								font-family: 'GOTHAM BOLD';

								font-size: 26px;
								line-height: 34px;
								color: #FFFFFF;
								padding-bottom: 5px;
								display: block;
								@include mediaMaxWidth(768px){

									font-size: 23px;
								}
								@include mediaMaxWidth(480px){
									font-size: 20px;
									line-height: 23px;
								}
							}
							.time{
								font-family: 'GOTHAM BOOK';
								font-size: 15px;
								line-height: 20px;
								letter-spacing: 0.01em;
								color: #4AB587;
							}
							.txt{
								display: none;
							}
						}
						.img{
							padding-top: 54%;
							@include mediaMaxWidth(480px){
								height: 350px;
							}
						}
					}
					@include mediaMaxWidth(768px){
						width: calc((100% - 40px) / 2);
						margin-right: 35px;
						&:nth-of-type(2n){
							margin-right: 35px;
						}
						&:nth-of-type(2n + 1){
							margin-right: 0px;
						}
					}
					@include mediaMaxWidth(480px){
						width: 100%;
						margin-right: 0;
						margin-bottom: 15px;
						&:nth-of-type(2n){
							margin-right: 0;
						}
						&:nth-of-type(3n){
							margin-right: 0px;
						}
					}
					.img{
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center;
						width: 100%;
						padding-top: 65%;
						position: relative;
						transition: 0.4s;
						&:before{
							position: absolute;
							content:'';
							width: 100%;
							height: 100%;
							top:0;
							left: 0;
							bottom: 0;
							right: 0;
							background: linear-gradient(0deg, rgba(74, 181, 135, 0.6), rgba(74, 181, 135, 0.6)), ;
							// display:none;
							opacity: 0;
							transition: 0.4s;

						}
						&:after{
							position: absolute;
							content:'';
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
							background-image: url('../../../images/news/icon.png');
							background-position: center;
							background-repeat: no-repeat;
							background-size:cover;
							width: 50px;
							height: 50px;
							// display: none;
							transition: 0.4s;
							opacity: 0;

						}
					}
					.desc-list{
						padding-top: 25px;
						padding-left: 30px;
						padding-right: 30px;
						padding-bottom: 30px;
						box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
						@include mediaMaxWidth(480px){
							padding: 15px;
						}
						.time{
							font-family: 'GOTHAM BOOK';
							font-size: 15px;
							line-height: 20px;
							letter-spacing: 0.01em;
							color: #4AB587;
							padding-bottom: 5px;
						}
						.txt{
							font-size: 20px;
							line-height: 26px;
							font-family: 'GOTHAM BOOK';
							color: #4B423E;
							font-weight: bold;

						}
					}
				}
			}
			
		}
	}
	
	.link{
		position: relative;
		left: 50%;
		@include transform(translateX(-50%));
		border-radius: 4px;
		display: flex;
		justify-content: center;
		font-family: 'GOTHAM BOOK';
		background: #4AB587;
		font-size: 16px;
		line-height: 26px;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: #FFFFFF;
		padding: 12px 17px;
		border-radius: 4px;
		width: max-content;
	}

}