.chitiettintuc{

	padding:0px 30px 60px;
	.active{
		&:before{
			content: '\f005';
			color: #FD4;
			transition: all .25s;
		}
	}
	.title{
		font-family: 'GOTHAM BOOK';
		font-size: 16px;
		line-height: 26px;
		color: #4B423E;
		font-weight:bold;
		padding-top:30px;
		@include mediaMaxWidth(768px){
			padding-top:15px;
			line-height: 20px;
		}
	}
	.baner{
		background-size:cover;
		background-repeat:no-repeat;
		width: 100%;
		padding-top:40%;
	}
	.colum{
		padding:0 90px ;
		display: flex;
		flex-wrap:wrap;
		@include mediaMaxWidth(1024px){
			padding:0 0px;
		}
		@include mediaMaxWidth(768px){
			padding:0 0px;
		}
	}
	.left{
		background:#fff;
		width: percentage(840/1200);
		margin-top:- 100px;
		padding:0 60px;
		@include mediaMaxWidth(1024px){
			padding:0 30px 0 0;
			margin-left: -1px;
		}
		@include mediaMaxWidth(768px){
			padding:0 15px 0 0;
		}
		a{
			font-family: 'GOTHAM BOOK';
			font-size: 14px;
			line-height: 23px;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			display: block;
			color: #4AB587;
			margin-top:30px;
			i{
				font-size: 20px;
				font-weight:bold;
			}
		}
		h1{
			font-family: 'GOTHAM BOLD';
			font-size: 36px;
			line-height: 48px;
			color: #4B423E;
			padding-top:20px;
			width: 90%;
			margin: 0px;
			
			@include mediaMaxWidth(1024px){
				width: 100%;
			}
			@include mediaMaxWidth(768px){
				font-size: 25px;
				line-height: 33px;
				padding-top:15px;
			}
		}
		.text{
			display: flex;
			flex-wrap:wrap;
			padding-top:30px;
			flex-direction:row;
			@include mediaMaxWidth(768px){
				padding-top:15px;
			}
			p{
				position:relative;
				
				font-family: 'GOTHAM BOOK';
				font-size: 16px;
				line-height: 21px;
				letter-spacing: 0.01em;
				color: #A8AEAB;
				padding-right:14px;
				&:before{
					position: absolute;
					content: "";
					width: 4px;
					height: 2px;
					right: 0;
					top: 50%;
					background: #a8aeab;
					transform: translate(0,-50%);
				}
			}
			a{
				padding-left:10px;
				font-family: 'GOTHAM BOLD';
				text-transform: initial;
				margin: 0;
				display:initial;
				font-size: 16px;
				line-height: 18px;
			}
		}
		.content{

			border-bottom:1px solid #DDD;
			.wp-caption{
				padding-top:30px;
				max-width:100%;
				display:block;
				height: auto;
			}
			.wp-caption-text{
				text-align:center;
				padding-top:15px;
				font-size:13px;
				font-family: 'GOTHAM BOOK';
			}
			p{
				font-family: 'GOTHAM BOOK';
				font-size: 16px;
				line-height: 26px;
				padding-top:30px;
				color: #4B423E;
				@include mediaMaxWidth(768px){
					padding-top:15px;
				}
			}
			

			img{
				max-width: 100%;
				height: auto;
				text-align:center;
				display:block;
			}
			
			.quote{
				padding-top:30px;
				display: flex;
				align-items: row;
				@include mediaMaxWidth(768px){
					padding-top:15px;
				}
				p {
					padding-top:0;
					font-family: 'GOTHAM BOOK';
					font-size: 20px;
					font-style: italic;
					line-height: 32px;
					color: #3A3330;	
					@include mediaMaxWidth(768px){
						line-height: 25px;
					}
				}
				i{
					padding-top:10px;
					color: #4AB587;
					font-size:20px;
					padding-right:30px;
					@include mediaMaxWidth(768px){
						padding-right:15px;
					}
				}
			}	
		}
		.evaluate{
			padding-bottom:15px;
			padding-top:30px;
			display: block;
			@include mediaMaxWidth(768px){
				padding-top:15px;
			}
			.stars{
				text-align:right;
			}
			.text{
				display: flex;
				flex-wrap: wrap;
				padding-top: 30px;
				flex-direction: row;
				align-items: center;
				justify-content: flex-end;
				padding-right: 10px;
				padding-top:0px;
				p{
					font-size: 12px;
					line-height: 26px;
					color: #A8AEAB;
					padding:0;
					padding-right:5px;
					&:before{
						width: 1px;
						height: 10px;
						transform: translateY(-50%) rotateZ(25deg)				
					}
				}
				a{
					font-family: 'GOTHAM BOOK';
					font-size: 12px;
					line-height: 26px;
					padding-left:5px;
				}
			}
		}
		input.star {
			display: none; 
		}
		label.star {
			padding: 2px;
			font-size: 25px;
			color: #444;
			transition: all .2s;
		}
		label.star:hover { 
			transform: rotate(-15deg) scale(1.3); 
		}
		label.star:before {
			content: '\f006';
			font-family: FontAwesome;
		}	
		.bottom{
			padding-top:20px;
			display: flex;
			flex-wrap:wrap;
			align-items:center;
			flex-decoration:row;
			.hastag{
				width: 60%;
				justify-content: flex-start;
				text-align: left;
				@include mediaMaxWidth(1024px){
					width: 55%;
				}
				@include mediaMaxWidth(1024px){
					width: 100%;
					margin-bottom: 15px;
				}
				a{
					text-transform:initial;
					margin: 0;
					font-family: 'GOTHAM BOOK';
					font-size: 15px;
					line-height: 26px;
					color: #4B423E;
					border:1px solid #4B423E;
					padding:10px 15px;	
					display: inline-block;
					margin-right:10px; 
					@include mediaMaxWidth(1024px){
						font-family: "GOTHAM BOOK";
						font-size: 15px;
						line-height: 18px;
						color: #4b423e;
						border: 1px solid #4b423e;
						padding: 6px 10px;
						display: inline-block;
						margin-right: 0px;
					}
				}
			}
			.social-chitiettintuc{
				justify-content: flex-end;
				display: flex;
				flex-wrap:wrap;
				width: 40%;
				@include mediaMaxWidth(1024px){
					width: 45%;
				}
				@include mediaMaxWidth(1024px){
					width: 100%;
				}
				p{
					font-family: 'GOTHAM BOOK';
					font-size: 14px;
					line-height: 26px;
					color: #A8AEAB;
					margin-right: 15px;
				}
				a{
					display:block;
					margin: 0;
				}
				.img{
					width: 25px;
					height: 25px;
					background-size:cover;
					background-repeat:no-repeat;
					margin-right:10px;
					&:nth-of-type(4){
						margin:0;
					}
				}
			}
		}
	}
	.right{
		width: 100% - (percentage(840/1200));
		padding:60px 0px 20px 30px;
		@include mediaMaxWidth(1024px){
			padding:60px 0px 20px 0px;
		}
		@include mediaMaxWidth(1024px){
			padding:30px 0px 20px 0px;
		}
		.news{
			padding:25px 30px 20px;
			border:1px solid #ddd;
			@include mediaMaxWidth(1366px){
				padding:25px 25px 20px;
				
			}
			@include mediaMaxWidth(1024px){
				padding:25px 0px 20px;
				border:none;
			}
			h3{
				font-family: "GOTHAM BOOK";
				font-size: 20px;
				font-weight: bold;
				line-height: 30px;
				letter-spacing: .04em;
				text-transform: uppercase;
				color: #4b423e;
				padding-bottom: 30px;
				border-bottom: 2px solid #ddd;
				position: relative;
				@include mediaMaxWidth(768px){
					line-height: 15px;
					font-size:13px;
				}
				&:before{
					content: '';
					background:#4AB587;
					width: 70px;
					height: 3px;
					position:absolute;
					bottom:-2px;
					left:0;
				}
			}
			.item{
				padding-top:30px;
				padding-bottom:20px;
				display: flex;
				flex-wrap:wrap;
				align-items:center;
				border-bottom:1px solid #ddd;
				.img{
					padding-top:25%;
					width: 33%;
					background-size:cover;
					background-repeat:no-repeat;
					@include mediaMaxWidth(1440px){
						height: 70px;
						width: 90px;
					}
				}
				.text{
					position: relative;
					padding-left: 10px;
					width: calc(100% - 33%);
					line-height: 21px;
					@include mediaMaxWidth(1440px){
						width: calc(100% - 90px);	
					}
					.title{
						padding:0;
						padding-bottom:10px;
						line-height: 21px;
						
						@include mediaMaxWidth(768px){
							font-size:12px;
							height:34px;
							line-height:16px;
						}
						
					}
					p{
						font-family: 'GOTHAM BOOK';
						font-size: 14px;
						line-height: 23px;
						color: #a8aeab;
						@include mediaMaxWidth(1024px){
							font-size:14px;
							
						}
						@include mediaMaxWidth(768px){
							font-size:12px;
						}
					}
				}
			}
			.button{
				font-family: 'GOTHAM BOOK';
				font-size: 14px;
				line-height: 23px;
				font-weight:bold;
				letter-spacing: 0.04em;
				text-transform: uppercase;
				color: #4AB587;
				text-align:center;
				display: block;
				padding-top:20px;
			}
		}
	}
}
@include mediaMaxWidth(480px){
	.chitiettintuc{
		padding:0 20px;
		.title{
			font-size:13px;
			line-height:17px;
			padding-top:15px;
		}
		.colum{
			padding:0 ;
			.left{
				margin-top:15px;
				width: 100%;
				padding-right: 0;
				.top{
					a{
						margin: 0px;					
					}
					h1{
						font-size: 14px;
						line-height: 20px;
					}
					p{
						font-size:15px;
						width: 125px;
					}
				}
				.content{
					padding-bottom:15px;
					p{
						font-size:13px;
						line-height:20px;
					}
				}
				.bottom{
					.hastag{
						padding-top:15px;
						p{
							font-size: 12px;
							line-height: 12px;
							padding: 6px 5px;
							margin-right: 0px;
						}
					}
					.social-chitiettintuc{
						p{
							font-size:13px;
						}
					}
				}
			}
			.right{
				width: 100%;
				.news{
					h3{
						padding-bottom:15px;
					}
					.item{
						padding:15px 0px ;
					}
				}
			}
		}
	}
}