.teaser {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    @media (max-width: 480px) {
        height: auto;
    }

    .logo-teaser {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 60px;
        width: 140px;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #2F2926;

        img {}
    }

    .slide-teaser {
        position: absolute;
        z-index: 1;
        width: percentage(1060/1440);
        height: calc(100vh - 60px);
        top: 30px;
        left: 30px;

        @media (max-width: 480px) {
            position: unset;
            width: calc(100% - 40px);
            height: 440px;
            margin: auto;
        }

        .swiper-container {
            width: 100%;
            height: 100%;

            .swiper-wrapper {
                .swiper-slide {
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    padding: 0 0 80px 40px;
                    display: flex;
                    align-items: flex-end;

                    @media (max-width: 1024px) {
                        padding: 0 0 50px 30px;
                    }

                    @media (max-width:480px) {
                        width: 100% !important;
                        margin-top: 20px;
                    }

                    .content-slide {
                        @media (max-width: 768px) {
                            width: 50%;
                        }

                        p {
                            &:nth-of-type(1) {
                                font-family: 'UTM Yen Tu';
                                font-size: 72px;
                                color: #4AB587;

                                @media (max-width: 1024px) {
                                    font-size: 65px;
                                }

                                @media (max-width: 768px) {
                                    font-weight: bold;
                                    font-size: 36px;
                                }

                            }

                            &:nth-of-type(2) {
                                font-family: 'GOTHAM BOOK';
                                font-size: 24px;
                                line-height: 32px;
                                text-transform: uppercase;
                                color: #FFFFFF;

                                @media (max-width: 1024px) {
                                    font-size: 20px;
                                }

                                @media (max-width: 768px) {
                                    font-size: 16px;
                                    line-height: 20px;
                                }
                            }
                        }
                    }
                }
            }

            .swiper-pagination {
                width: max-content;
                align-items: center;
                display: flex;
                left: 40px;
                bottom: 20px;

                .swiper-pagination-bullet {
                    background: #4AB587;

                    &.swiper-pagination-bullet-active {
                        border-color: #4AB587;
                        background: transparent;
                    }
                }
            }
        }
    }

    .form-teaser {
        position: absolute;
        z-index: 2;
        top: 50%;
        right: 80px;
        transform: translateY(-50%);
        background: white;
        width: 430px;
        padding: 37px 35px 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-position: left bottom;
        background-size: cover;
        background-repeat: no-repeat;

        @media (max-width: 1024px) {
            right: 30px;
            padding: 30px;
        }

        @media (max-width:768px) {
            width: 360px;
        }

        @media (max-width:480px) {
            position: unset;
            transform: unset;
            width: 100%;
            padding: 35px 20px;
        }

        .title-form {
            @media (max-width: 480px) {
                text-align: center;
            }

            img {}

            h2 {
                font-family: 'GOTHAM BOLD';
                font-size: 16px;
                line-height: normal;
                text-transform: uppercase;
                color: #2F2F2F;
                margin-top: 15px;
            }
        }

        ._form_content {
            padding: 20px 0px 0px;

            ._form_group {
                margin-top: 10px;
                position: relative;
            }

            ._form_group:nth-of-type(1) {
                margin-top: 0;
            }

            label {
                font-family: 'GOTHAM book';
                font-size: 11px;
                line-height: normal;
                letter-spacing: 0.02em;

                color: #676767;

            }

            ._form_control {
                width: 100%;
                padding: 7px 0 5px;
                font-size: 14px;
                font-family: 'GOTHAM BOOK';
                border: none;
                border-bottom: 1px solid #67676745;
                outline: none;
                letter-spacing: 0.04em;

                color: #2F2F2F;

                &:focus {
                    border-color: #4AB587;
                }

                &::placeholder {
                    color: #676767;
                    opacity: 0.3;
                }
            }

            ._error_msg {
                position: absolute;
                bottom: -17px;
                font-size: 12px;
                right: 0;
                font-family: 'GOTHAM BOOK';
                color: red;
            }

            ._btn_submit {
                button {
                    line-height: 40px;
                    width: 100%;
                    background: #4AB587;
                    border-radius: 4px;
                    border: none;
                    margin-top: 20px;
                    outline: none;
                    cursor: pointer;
                    font-family: 'GOTHAM BOOK';
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 0.04em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    line-height: 40px;
                }
            }

            .message {
                font-size: 12px;
                font-family: "GOTHAM BOOK";
                color: red;
                line-height: 18px;
                position: unset;
                    margin-top: 10px;
            }
        }

        .footer-form {
            @media(max-width: 480px) {
                margin-top: 34px;
            }

            p {
                font-family: Gotham book;
                text-align: center;
                margin: 0;

                a {
                    color: black;
                }

                &:nth-of-type(1) {
                    font-size: 16px;
                    color: #2F2F2F;
                }

                &:nth-of-type(2) {
                    font-size: 30px;
                    color: #2F2F2F;
                    font-family: 'GOTHAM BOLD';
                    line-height: 36px;
                    margin-bottom: 20px;

                    @media (max-width: 768px) {
                        margin-bottom: 5px;
                    }

                    @media (max-width:480px) {
                        margin-bottom: 30px;
                    }
                }

                &:nth-of-type(3) {
                    font-size: 12px;
                    text-align: center;
                    color: #666666;

                }
            }
        }
    }
}

.frm_msg2 {
    font-family: "GOTHAM bold";
    line-height: 15px;
    font-size: 14px;
    margin: 20px 0;
}