.page-library-document{
	padding-top: 100px;
	@include mediaMaxWidth(768px){
		padding-top: 66px;
	}
	@include mediaMaxWidth(480px){
		padding-top: 63px;
	}
	.page-content{
		width: percentage(1200 / 1440);
		margin: 0 auto;
		@include mediaMaxWidth(1024px){
			width: calc(100% - 60px);
		}
		@include mediaMaxWidth(480px){
			width: calc(100% - 30px);
		}
		
		.list{
			width: percentage(1080 / 1200);
			margin: 0 auto;
			padding-top: 40px;
			display: flex;
			flex-wrap:wrap;
			@include mediaMaxWidth(480px){
				width: 100%;
			}
			.thumnail{
				width:percentage(525 / 1080);
				height: 295px;
				background-color: #332d2f;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				position: relative;
				margin-right: 25px;
				margin-bottom: 60px;
				&:nth-of-type(2n){
					margin-right: 0;
				}
				@include mediaMaxWidth(1024px){
					margin-right: 24px;
				}
				@include mediaMaxWidth(768px){
					margin-right: 17px;
				}
				@include mediaMaxWidth(480px){
					width: 100%;
					margin-right: 0;
					margin-bottom: 40px;
				}
				.logo-page{
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					width: percentage(100 / 525);
					margin: 0 auto;
					img{
						width: 100%;
						height: auto;
						display: block;
					}
				}
				.document{
					width: percentage(470 / 525);
					margin: 0 auto;
					display: flex;
					background-color: #ffffff;
					position: absolute;
					bottom: -27px;
					left: 25px;
					height: 62px;
					box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
					border-radius: 5px;
					@include mediaMaxWidth(768px){
						left: 15px;
					}
					p{
						font-family: 'gotham book';
						font-size: 20px;
						line-height: 26px;
						color: #4b423e;
						font-weight: bold;
						display: flex;
						flex-direction: row;
						align-items: center;
						padding-left: 30px;
						@include mediaMaxWidth(768px){
							font-size: 18px;
							padding-left:15px;
						}
						@include mediaMaxWidth(480px){
							padding-left: 15px;
							font-size: 16px;
						}
					}
					.icon{
						width: 62px;
						height: 62px;
						background-color: #4ab587;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						position: absolute;
						right: 0;
						.img{
							width: 24px;
							height: 24px;
							img{
								width: 100%;
								height: auto;
								display: block;
							}
						}
					}
				}
			}
		}
		.link{
			width: 160px;
			margin-bottom: 80px;
			margin-top: 25px;
			a{
				text-decoration: none;
				&:hover{
					color: #ffffff;
				}
			}
			@include mediaMaxWidth(1024px){
				margin-bottom: 50px;
				margin-top: 15px;
			}
		}
	}
}
.nav-library{
	width: percentage(1080 / 1200);
	margin: 0 auto;
	border-bottom: 1px solid #dee7e4;
	padding-bottom: 30px;
	@include mediaMaxWidth(1024px){
		width: calc(100% - 60px);
	}
	@include mediaMaxWidth(768px){ 
		padding-bottom: 10px;
	}
	@include mediaMaxWidth(480px){
		width: calc(100% - 30px);
		display: flex;
		flex-direction: column;
		padding-bottom: 15px;
		align-items: center;
	}
	a{
		font-family: 'gotham book';
		font-size: 18px;
		line-height: 27px;
		text-transform: uppercase;
		color: #4b423e;
		padding-bottom: 30px;
		margin-right: 60px;
		@include mediaMaxWidth(768px){ 
			    padding-bottom: 10px;
		}
		@include mediaMaxWidth(480px){
			width: max-content;
			padding-bottom: 10px;
			margin-top: 5px;
			margin-right: 0;
		}
		&.active{
			color: #4ab587;
			border-bottom: 4px solid #4ab587;
		}
	}
}