.page-library-albums{
	.page-title{}
	.page-content{
		width: percentage(1080/1440);
		margin: auto;
		overflow: hidden;
		margin-bottom: 80px;

		display: flex;
		align-items: center;
		flex-direction: column;

		@media (max-width:1024px){
			width: calc(100% - 120px);
		}
		@media (max-width:768px){
			width:100%;
			padding: 30px;
			border-bottom: 1px solid #dee7e4;
		}
		@media (max-width:480px){ 
			margin: 30px 15px;
			margin-bottom: 0; 
		}
		.nav-library{
			margin: 0;
			width: 100%;
		}
		.--albums{
			margin: 40px 0px 0;

			@media (max-width:768px){ 
				margin: 30px 0px 0;
			}
			.item-album{ 
				width: calc((100% - 30px) / 3);
				margin-right: 15px;
				float: left;
				height: 260px;
				margin-bottom: 90px; 
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				display: flex;
				justify-content: center;
				align-items: flex-end;
				border-radius:5px;
				&:nth-of-type(3n){
					margin-right: 0;
					@media (max-width:480px){
						margin-right: 0;
					}
				} 
				@media (max-width:1024px){ 
					width: calc((100% - 40px) / 3);
					height: 0;
					padding-top:  calc((100% - 40px) / 3);
					margin-right: 20px;
				}
				@media (max-width: 768px){
					margin-bottom: 80px;

					width: calc((100% - 60px) / 3); 
					padding-top:  calc((100% - 60px) / 3);
					margin-right: 30px;
				}
				@media (max-width: 480px){
					margin-bottom: 15px;
				}
				@media (max-width:480px){ 
					width:100%;
					height: 0;
					padding-top:100%;
					margin-right: 0; 
					&:nth-of-type(2n){
						margin-right: 0;
					}
				}
				.title-lib{
					width: percentage(308/350);
					background: #FFFFFF;
					box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
					border-radius: 5px;
					text-align: center;
					padding: 24px 0;
					transition:0.4s;
					margin-bottom: -60px;
					@media (max-width:1024px){
						padding: 5px 0;
						margin-bottom: -30px;
					}
					@media (max-width: 768px){
						width: 100%;
						border-radius:0;
						margin-bottom: -55px;
					}
					@media (max-width: 480px){
						// margin-bottom: -43px;
						// background: #4AB587; 
					}
					p{
						font-family: Gotham bold;

						&:nth-of-type(1){
							font-size: 16px;
							line-height: 21px;  
							color: #4AB587;
							margin-bottom: 5px;

							@media (max-width:480px){
								// margin-bottom: 0;
								// font-size: 13px;
								// color:white !important;
							}
						}
						&:nth-of-type(2){ 
							font-size: 20px;
							line-height: 26px; 
							color:#4B423E;
							@media (max-width:768px){
								font-size: 16px;
								text-transform: uppercase;
							}
							@media (max-width:480px){
								// line-height: 16px;
								// font-size: 13px;
								// text-transform: unset;
								// color:white !important;
								// font-weight: bold;
							}
						}
						@media (max-width:480px){
							// font-family: Gotham book;
						}
					}
				}
				&:hover{
					.title-lib{
						background: #4AB587;
						p{
							color:white!important;
						}
					}
				}
			}
		}
	}
	.lirbrary_more{
		@media (max-width:768px){
			margin-top: 10px;
		}
	}
}


.lirbrary_more{
	background: none;
	line-height: 40px;
	width: 160px;
	background: #4AB587;
	border-radius: 4px;
	border: none;
	margin-top: 20px;
	outline: none;
	cursor: pointer;
	font-family: 'GOTHAM BOOK';
	font-size: 16px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #FFFFFF;
	display: inline-block;
	text-align: center;
	&:hover{
		color:white;
	}
}
.btn_animation{
	&::before{
		content: "";
		position: absolute;
		width: 150%;
		height: 150%;
		background: rgba(255,255,255,0.5);
		transform: rotate(45deg) translate3d(-50px, -270%, 0);
		transition: transform 0.7s;
	}
	&:hover::before{
		transform: rotate(45deg) translate3d(-50px, 370%, 0);
	}
} 