.page-library-sales-policy{
	padding-top: 100px;
	@include mediaMaxWidth(768px){
		padding-top: 66px;
	}
	@include mediaMaxWidth(480px){
		padding-top: 63px;
	}
	.page-content{
		width: percentage(1200 / 1440);
		margin: 0 auto;
		@include mediaMaxWidth(1024px){
			width: calc(100% - 60px);
		}
		@include mediaMaxWidth(480px){
			width: calc(100% - 30px);
		}
		
		.list{
			width: percentage(1080 / 1200);
			margin: 0 auto;
			padding-top: 40px;
			display: flex;
			flex-wrap:wrap;
			@include mediaMaxWidth(1024px){
				width: 93.5%;
			}
			@include mediaMaxWidth(480px){
				width: 100%;
			}
			.thumnail{
				width:percentage(525 / 1080);
				height: 330px;
				background-color: #332d2f;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				position: relative;
				margin-right: 30px;
				margin-bottom: 30px;
				&:nth-of-type(2n){
					margin-right: 0;
				}
				@include mediaMaxWidth(1024px){
					margin-right: 25px;
				}
				@include mediaMaxWidth(768px){
					margin-right: 17px;
					height: 270px;
				}
				@include mediaMaxWidth(480px){
					width: 100%;
					margin-right: 0;
					margin-bottom: 15px;
				}
				.logo-page{
					position: absolute;
					left: 50%;
					top: 23%;
					transform: translateX(-50%);
					width: percentage(119 / 525);
					margin: 0 auto;
					img{
						width: 100%;
						height: auto;
						display: block;
					}
				}
				.document{
					width: percentage(418 / 525);
					margin: 0;
					display: flex;
					background-color: #ffffff;
					position: absolute;
					bottom: 30px;
					left: 0px;
					height: 62px;
					box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
					@include mediaMaxWidth(768px){
						width: 90%;
					}
					p{
						font-family: 'gotham book';
						font-size: 20px;
						line-height: 26px;
						color: #4b423e;
						font-weight: bold;
						display: flex;
						flex-direction: row;
						align-items: center;
						padding-left: 30px;
						@include mediaMaxWidth(1024px){
							font-size: 17px;
							padding-left: 17px;
						}
						@include mediaMaxWidth(768px){
							font-size: 14px;
							padding-left: 10px;
						}
						@include mediaMaxWidth(480px){
							padding-left: 11px;
							font-size: 12px;
						}
					}
					.icon{
						width: 62px;
						height: 62px;
						background-color: #4ab587;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						position: absolute;
						right: 0;
						.img{
							width: 24px;
							height: 24px;
							img{
								width: 100%;
								height: auto;
								display: block;
							}
						}
					}
				}
			}
		}
		.link{
			width: 160px;
			margin-bottom: 80px;
			margin-top: 25px;
			a{
				text-decoration: none;
				&:hover{
					color: #ffffff;
				}
			}
			@include mediaMaxWidth(1024px){
				margin-bottom: 50px;
				margin-top: 15px;
			}
			@include mediaMaxWidth(768px){
				margin-bottom: 15px;
				margin-top: 0px;
			}
		}
	}
}