.page-title{
	background-image: url('../../../images/pages/bg-pages.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
	height: 260px;
	background-color: #4B423E;
	position: relative;
	width: calc(100% - 50px);
	margin: 100px auto 0;
	@include mediaMaxWidth(1024px){
		width: 100%;
	}
	@include mediaMaxWidth(768px){
		margin-top: 60px;
	}
	&:after{
		position: absolute;
		content:'';
		bottom: 0;
		background-color: #ffffff;
		width: calc(100% - 190px);
		margin: 0 auto;
		height: 49px;
		left: percentage(95 / 1390);
		right: percentage(95 / 1390);
		@include mediaMaxWidth(1024px){
			width: calc(100% - 60px);
			left: 30px;
			right: 30px;
		}
		@include mediaMaxWidth(768px){
			display: none;
		}
	}

	p{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-family: 'GOTHAM BOOK';
		font-size: 36px;
		line-height: 43px;
		text-transform: uppercase;
		color: #FFFFFF;
		@include mediaMaxWidth(480px){
			font-size: 30px;
		}
	}
	.decor{
		position: relative;
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		pointer-events: none;
		&:after{
			background-image: url('../../../images/pages/decor-right.png');
			position: absolute;
			content:'';
			right: 0;
			bottom: 0;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			width: 9%;
			height: 84%;
		}
		&:before{
			background-image: url('../../../images/pages/decor-left.png');
			position: absolute;
			content:'';
			left: 0;
			bottom: 0;
			background-repeat: no-repeat;
			background-position: left;
			// background-size: cover;
			width: 100%;
			height: 100%;
		}
	}
}
.breadcrumb{
	position: absolute;
	top: 20px;
	left: 95px;
	display: flex;
	font-family: 'GOTHAM BOOK';
	font-size: 15px;
	line-height: 23px;
	color: #FFFFFF;
	@include mediaMaxWidth(1024px){
		left: 30px;
	}
	.icon{
		padding-right: 7px;
	}
	a{
		&:nth-of-type(1){
			padding-right: 5px;
		}
	}
}
.page-utilities{
	padding-top: 100px;
	.page-content{
		width: percentage(1200 / 1440);
		margin: 0 auto;
		.map-utilities{
			
		}
	}
}