
.tiendoduan{
	overflow: hidden;
	padding-bottom:90px;
	@include mediaMaxWidth(480px){

		padding-bottom:30px;
	}
	.the-content{
		overflow: hidden;
		position:relative;
		padding-left:percentage(120/1440);
		padding-right:percentage(120/1440);
		margin-top: -49px;
		padding-top:93px;
		@include mediaMaxWidth(768px){
			padding-left:30px;
			padding-right:30px;
		}
		@include mediaMaxWidth(480px){
			margin-top:0;
			padding-top:15px;
			padding-left:15px;
			padding-right:15px;
		}
		.item-block{
			padding-top:60px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			&:nth-of-type(1){
				padding-top: 0;
			}
			&:nth-of-type(1n){
				.img{
					order: 1;
				}
				.text{
					order: 2;
				}
			}
			&:nth-of-type(2n){
				.img{
					order: 2;
					@include mediaMaxWidth(480px){
						order:1;
					}
				}
				.text{
					order: 1;
					@include mediaMaxWidth(480px){
						order:2;
					}
				}
			}
			@include mediaMaxWidth(480px){
				padding-top: 30px;
			}
			.img{
				width: percentage(665/1200);
				border-radius: 5px;
				background-repeat:no-repeat;
				background-size:cover;
				padding-top:35%;
				height: 440px;
				@include mediaMaxWidth(1024px){
					
					height: 313px;
				}
				@include mediaMaxWidth(768px){
					padding-top:0%;
					height: 270px;
				}
				@include mediaMaxWidth(480px){
					width: 100%;
					margin-bottom: 15px;
					height: 192px;
				}
			}
			.text{
				position: relative;
				padding-left:95px;
				width: 100% - percentage(665/1200);
				@include mediaMaxWidth(768px){
					padding-left:30px;
				}
				@include mediaMaxWidth(480px){
					width: 100%;
					padding-left:0;
					
				}
				&:before{
					background-color:#4B423E;
					content: '';
					position:absolute;
					height: 1px;
					width: 84px;
					left:0px;
					top:23%;
					@include mediaMaxWidth(768px){
						width: 25px;
					}
					@include mediaMaxWidth(480px){
						width: 0px;
					}
				}
				.date{
					width: 120px;
					height: 32px;
					text-decoration: none;
					line-height: 34px;
					color: #fff;
					background-color:#4B423E;
					display: block;
					font-family: 'GOTHAM BOOK';
					font-size: 14px;
					padding-left: 22px;
					text-transform: uppercase;
					overflow: hidden;
					transition: .3s !important;
				}
				.title{
					padding-top:15px;
					padding-bottom:15px;
					position:relative;
					font-family: 'GOTHAM BOOK';
					font-size: 26px;
					line-height: 39px;
					text-transform: uppercase;
					color: #4B423E;
					@include mediaMaxWidth(1024px){
						font-size: 20px;
						line-height: 34px;
					}
					@include mediaMaxWidth(768px){
						font-size: 20px;
						line-height: 34px;
						padding:5px 0px;
					}

				}
				.normal{
					width: 90%;
					padding-bottom: 15px;
					font-family: 'GOTHAM BOOK';
					font-size: 16px;
					line-height: 26px;
					color: #979B97;
					@include mediaMaxWidth(768px){
						width: 100%;
					}
				}
				.more{
					text-transform: uppercase;
					display: block;
					padding-top: 20px;
					font-family: 'GOTHAM BOOK';
					font-size: 15px;
					color: #4AB587;
					@include mediaMaxWidth(1024px){
						padding-top:0px;
					}

				}
			}
		}
		.link{
			text-align: center;
			a{
				margin-top: 43px;
			}
		}
	}
}