html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details,
figure, figcaption, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  text-wrap: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ''; }

a, a:hover {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.fa {
  font-size: inherit !important;
  line-height: inherit !important; }

/*end default*/
@font-face {
  font-family: 'Futura Regular';
  src: url("../fonts/VNF-Futura.eot?#iefix") format("embedded-opentype"), url("../fonts/VNF-Futura.woff") format("woff"), url("../fonts/VNF-Futura.ttf") format("truetype"), url("../fonts/VNF-Futura.svg#VNF-Futura") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'VNFCorinthia';
  src: url("../fonts/VNFCorinthia.eot?#iefix") format("embedded-opentype"), url("../fonts/VNFCorinthia.otf") format("opentype"), url("../fonts/VNFCorinthia.woff") format("woff"), url("../fonts/VNFCorinthia.ttf") format("truetype"), url("../fonts/VNFCorinthia.svg#VNFCorinthia") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Futura BK';
  src: url("../fonts/FuturaBk.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaBk.woff") format("woff"), url("../fonts/FuturaBk.ttf") format("truetype"), url("../fonts/FuturaBk.svg#VNF-Futura") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'MyriadPro-BoldCond';
  src: url("../fonts/MyriadPro-BoldCond.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-BoldCond.otf") format("opentype"), url("../fonts/MyriadPro-BoldCond.woff") format("woff"), url("../fonts/MyriadPro-BoldCond.ttf") format("truetype"), url("../fonts/MyriadPro-BoldCond.svg#MyriadPro-BoldCond") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'UTMFleur';
  src: url("../fonts/UTMFleur.eot?#iefix") format("embedded-opentype"), url("../fonts/UTMFleur.woff") format("woff"), url("../fonts/UTMFleur.ttf") format("truetype"), url("../fonts/UTMFleur.svg#UTMFleur") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  font-size: 62.5%;
  height: 100%; }

body {
  font-family: "Futura Regular", sans-serif;
  font-size: 1.4rem;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto !important; }

.footer {
  color: #ffffff;
  background: #9c9159; }

.contact-button {
  background: url("../../images/button-bgr.png") no-repeat center;
  background-size: 100% auto;
  color: #ffffff;
  padding: 0 5px;
  text-transform: uppercase;
  position: fixed;
  top: 36px;
  right: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  white-space: nowrap;
  z-index: 10000;
  display: table; }
  .contact-button:focus, .contact-button:hover {
    color: #ffffff; }
  .contact-button span {
    display: table-cell;
    padding: 0 10px;
    line-height: 42px;
    vertical-align: middle; }
  .contact-button i {
    font-size: 2.1rem !important;
    line-height: 42px !important; }

.gioithieu .more a, #tintucsukien .list-stylized .item .wrapper .more {
  width: 155px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  background: url("../../images/button-bgr.png") no-repeat center;
  text-transform: uppercase;
  display: inline-block; }

#subscribe-form {
  width: 260px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  border-left: 3px solid #9c9159;
  -webkit-transform: translateX(260px);
  -moz-transform: translateX(260px);
  -ms-transform: translateX(260px);
  -o-transform: translateX(260px);
  transform: translateX(260px);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #ffffff;
  background-size: 80% auto;
  padding: 60px 20px;
  z-index: 10000; }
  #subscribe-form input:not([type='checkbox']), #subscribe-form textarea, #subscribe-form select {
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 10px;
    color: #a9a9a9; }
  #subscribe-form h2.title {
    margin: 20px 0;
    font-size: 16px;
    line-height: 24px; }
  #subscribe-form .submit-btn {
    background: #9c9159;
    text-transform: uppercase;
    color: #ffffff;
    border: none; }
  #subscribe-form .close-btn {
    left: 0;
    top: 0;
    margin-top: 0; }
  #subscribe-form label {
    font-weight: normal; }

.form-open #subscribe-form {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }
  .form-open #subscribe-form .close-btn {
    display: block; }

.close-btn {
  background: #fff;
  position: absolute;
  width: 74px;
  height: 66px;
  top: 50%;
  margin-top: -33px;
  left: 100%;
  cursor: pointer;
  display: none;
  z-index: 1000; }
  .close-btn:after {
    display: block;
    content: "";
    position: absolute;
    background: url("../../images/icons-s38dcd512ab.png") 0 -333px no-repeat;
    width: 24px;
    height: 25px;
    left: 50%;
    top: 50%;
    margin: -12px 0 0 -12px;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: all, .5s;
    -o-transition: all, .5s;
    -webkit-transition: all, .5s;
    transition: all, .5s; }
  .close-btn:hover:after {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

.section {
  background: #ffffff; }
  .section.innerpager {
    padding-top: 0; }

.section1 {
  padding: 0 !important; }
  .section1 .logo {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    z-index: 1000;
    background: url("../../images/logobgr.png") no-repeat center top;
    background-size: auto 100%; }
    .section1 .logo a {
      padding: 20px;
      /*background: #ffffff;*/
      display: inline-block; }
  .section1 .main-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #ffffff;
    z-index: 999;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate(-250px, 1px);
    -moz-transform: translate(-250px, 1px);
    -ms-transform: translate(-250px, 1px);
    -o-transform: translate(-250px, 1px);
    transform: translate(-250px, 1px);
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -moz-transition-duration: .6s;
    -o-transition-duration: .6s;
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-backface-visibility: visible; }
    .section1 .main-menu > .title {
      text-align: center;
      font-size: 24px;
      line-height: 26px;
      color: #fff;
      padding: 30px 20px;
      position: relative;
      text-transform: uppercase; }
    .section1 .main-menu > .list > li {
      text-align: center;
      padding: 0 10px; }
      .section1 .main-menu > .list > li > a {
        position: relative;
        border-bottom: 1px solid #dddddd !important;
        display: block;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 16px;
        padding: 12px 0 !important;
        color: #000;
        background: transparent !important; }
        .section1 .main-menu > .list > li > a.active, .section1 .main-menu > .list > li > a:hover {
          color: #333;
          background: #f1f1f1 !important; }
      .section1 .main-menu > .list > li:last-child a {
        border-bottom: none; }
  .section1 .main-menu > .list li:before {
    display: none !important; }
  .section1 .main-header {
    z-index: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .section1 .main-header img {
      width: 100%; }
    .section1 .main-header .slider .item {
      position: relative; }
      .section1 .main-header .slider .item .title {
        position: absolute;
        top: 50%;
        width: 100%;
        left: 0;
        z-index: 1000;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #ffffff;
        text-transform: uppercase;
        height: 92px;
        padding: 10px 30px;
        background: url("../../images/ss1-light-text.png") no-repeat center;
        background-size: auto 100%;
        font-family: "Roboto", sans-serif;
        font-size: 3.6rem;
        font-weight: 700; }
    .section1 .main-header .slider#main-slider-1 .item .title {
      text-align: right;
      vertical-align: text-top; }
    .section1 .main-header .slider .bx-wrapper .bx-controls-direction a {
      display: none; }
    .section1 .main-header .slider#main-slider-2 .item .title {
      text-align: left;
      padding-top: 30px; }
    .section1 .main-header .bb-item, .section1 .main-header .bb-back,
    .section1 .main-header .bb-front {
      overflow: hidden !important; }
      .section1 .main-header .bb-item .bb-custom-side, .section1 .main-header .bb-back .bb-custom-side,
      .section1 .main-header .bb-front .bb-custom-side {
        position: relative; }
        .section1 .main-header .bb-item .bb-custom-side .title, .section1 .main-header .bb-back .bb-custom-side .title,
        .section1 .main-header .bb-front .bb-custom-side .title {
          position: absolute;
          top: 50%;
          width: 100%;
          left: 0;
          z-index: 1000;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          color: #ffffff;
          text-transform: uppercase;
          height: 92px;
          padding: 10px 30px;
          background: url("../../images/ss1-light-text.png") no-repeat center;
          background-size: auto 100%;
          font-family: "Roboto", sans-serif;
          font-size: 3.6rem;
          font-weight: 700; }
        .section1 .main-header .bb-item .bb-custom-side.bb-side--left .title, .section1 .main-header .bb-back .bb-custom-side.bb-side--left .title,
        .section1 .main-header .bb-front .bb-custom-side.bb-side--left .title {
          text-align: right;
          vertical-align: text-top; }
        .section1 .main-header .bb-item .bb-custom-side.bb-side--right .title, .section1 .main-header .bb-back .bb-custom-side.bb-side--right .title,
        .section1 .main-header .bb-front .bb-custom-side.bb-side--right .title {
          text-align: left;
          padding-top: 30px; }
  .section1 .group-button {
    position: fixed;
    left: 0;
    top: 50%;
    opacity: 1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 3000; }
    .section1 .group-button .nav-button {
      cursor: pointer;
      position: relative;
      z-index: 99;
      -moz-transition: all .6s;
      -o-transition: all .6s;
      -webkit-transition: all .6s;
      transition: all .6s;
      line-height: 40px;
      width: 100px;
      margin-left: -10px;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      background: url("../../images/button-bgr.png") no-repeat center;
      -webkit-transform: rotate(-90deg) translateY(-50%);
      -moz-transform: rotate(-90deg) translateY(-50%);
      -ms-transform: rotate(-90deg) translateY(-50%);
      -o-transform: rotate(-90deg) translateY(-50%);
      transform: rotate(-90deg) translateY(-50%);
      background-size: 100% 100%;
      color: #ffffff; }
    .section1 .group-button .list-social {
      margin-top: 32px; }
      .section1 .group-button .list-social li {
        margin-bottom: 2px; }
      .section1 .group-button .list-social a {
        width: 40px;
        height: 40px;
        line-height: 40px !important;
        text-align: center;
        display: block;
        color: #ffffff;
        font-size: 2.2rem;
        background: url("../../images/button-bgr.png") no-repeat center; }
    .section1 .group-button > .title {
      text-transform: uppercase;
      color: #9c9159;
      font-size: 2.4rem;
      line-height: 25px;
      padding: 20px 22px;
      border: 3px solid #fff;
      float: left;
      margin-right: 10px;
      position: relative;
      cursor: pointer; }
      .section1 .group-button > .title:after {
        position: absolute;
        content: '';
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
      .section1 .group-button > .title:hover:after {
        width: 0; }
      .section1 .group-button > .title span {
        position: relative;
        z-index: 5; }
      .section1 .group-button > .title:hover {
        color: #ffffff; }
  .section1.menu-open .main-menu {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
    .section1.menu-open .main-menu .close-btn {
      display: block; }
  .section1.menu-open > .logo {
    display: none; }
  .section1.menu-open .main-header {
    -webkit-transform: translate(250px, 0);
    -moz-transform: translate(250px, 0);
    -ms-transform: translate(250px, 0);
    -o-transform: translate(250px, 0);
    transform: translate(250px, 0); }
  .section1.menu-open .group-button {
    opacity: 0; }

.bg-menu {
  display: none;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer; }

.gioithieu {
  background: url("../../images/vinhomebason-bgr.png") no-repeat center top;
  padding: 80px 10px 50px;
  color: #ffffff;
  text-align: center; }
  .gioithieu .title {
    margin-bottom: 20px;
    font-family: "UTMFleur", sans-serif;
    font-size: 7.2rem;
    color: #e9cc56; }
  .gioithieu .description {
    max-width: 840px;
    margin: 0 auto 40px;
    font-size: 1.8rem; }
  .gioithieu .list--float {
    overflow: hidden;
    margin-bottom: 40px; }
    .gioithieu .list--float li {
      float: left;
      width: 16.66666666666667%; }
      .gioithieu .list--float li:nth-child(even) {
        padding-top: 40px; }
      .gioithieu .list--float li img {
        width: 100%; }
  .gioithieu .wrapper--lg {
    max-width: 1445px;
    margin: 0 auto; }

#vitrikimcuong {
  padding: 70px 10px 100px;
  text-transform: uppercase;
  background: url("../../images/daimond-brg.png") no-repeat center top; }
  #vitrikimcuong .title {
    margin-bottom: 40px; }
  #vitrikimcuong .wrapper--lg {
    max-width: 1260px;
    margin: 0 auto; }
  #vitrikimcuong .xs-text {
    max-width: 620px;
    margin: 0 auto;
    font-family: 'Futura BK', sans-serif; }
  #vitrikimcuong .list--float {
    overflow: hidden; }
    #vitrikimcuong .list--float li {
      float: left;
      width: 25%;
      padding: 10px 35px; }
      #vitrikimcuong .list--float li .icon-map-maker {
        display: inline-block;
        width: 25px;
        height: 40px;
        background: url("../../images/map-maker.png") no-repeat center; }
      #vitrikimcuong .list--float li span {
        display: block;
        text-align: center;
        font-size: 1.8rem;
        text-transform: none; }

.section {
  clear: both;
  padding-top: 70px; }
  .section h3.title {
    font-family: "Roboto", sans-serif;
    color: #958967;
    font-size: 3.6rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px; }
    .section h3.title .lg-text {
      font-weight: 900;
      display: block; }
    .section h3.title .sm-text {
      font-weight: 300;
      display: block; }
    .section h3.title .xs-text {
      text-transform: none;
      font-size: 1.8rem;
      color: #414141; }

.control-slider {
  display: none !important; }

#matbangtongthe {
  padding: 70px 10px 0; }
  #matbangtongthe .wrapper {
    position: relative; }
    #matbangtongthe .wrapper object {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10; }
      #matbangtongthe .wrapper object embed {
        width: 100%; }

#dothisinhthai {
  padding: 40px 10px;
  /*.list-free{
    display: table;
    width: 100%;
    .col{
      display: table-cell;
      overflow: hidden;
      padding: 0 5px;
      vertical-align: top;
      .text, img{
        float: left;
        margin-bottom: 10px;
        max-width: 100%;
      }
      .text{
        font-family: 'Roboto', sans-serif;
        font-size: 1.6rem;
      }
    }
  }*/ }
  #dothisinhthai .title {
    margin-bottom: 40px; }
  #dothisinhthai .wrapper {
    max-width: 1445px;
    margin: 0 auto; }
  #dothisinhthai table td {
    vertical-align: top;
    max-width: 420px;
    padding: 5px; }
    #dothisinhthai table td img {
      width: 100%; }

img {
  max-width: 100%; }

.wrapper--lg {
  max-width: 80% !important;
  margin-right: auto;
  margin-left: auto; }

#canhocaocap .list-effect-up {
  zoom: 1; }
  #canhocaocap .list-effect-up:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden; }
  #canhocaocap .list-effect-up .item {
    float: left;
    width: 33.3333%;
    position: relative; }
    #canhocaocap .list-effect-up .item:after {
      content: '';
      background: url("../../images/opacity-bgr.png") no-repeat center;
      background-size: 100% 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      -webkit-transform: scale(0, 0);
      -moz-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    #canhocaocap .list-effect-up .item .wrapper {
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      -webkit-transform: translateY(50%);
      -moz-transform: translateY(50%);
      -ms-transform: translateY(50%);
      -o-transform: translateY(50%);
      transform: translateY(50%);
      color: #ffffff;
      padding: 35px 90px;
      font-size: 1.8rem;
      opacity: 0; }
      #canhocaocap .list-effect-up .item .wrapper .title {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 10px; }
    #canhocaocap .list-effect-up .item:hover:after {
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    #canhocaocap .list-effect-up .item:hover .wrapper {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); }

#canhocaocap {
  padding: 70px 0 0; }
  #canhocaocap .title {
    margin-bottom: 40px; }

#tienich {
  padding-top: 70px; }

#utilities-slider {
  position: relative;
  margin-top: 40px;
  z-index: 10; }
  #utilities-slider .caption {
    z-index: 100;
    position: absolute;
    width: 28.125%;
    background: rgba(255, 255, 255, 0.91);
    padding: 60px 45px;
    top: 0;
    right: 10%;
    height: 100%;
    overflow-y: auto; }
    #utilities-slider .caption .title {
      color: #958967;
      text-transform: uppercase;
      font-size: 3.6rem;
      line-height: 1.2em;
      font-weight: 900;
      margin-bottom: 10px;
      font-family: "Roboto", sans-serif;
      text-align: left; }
    #utilities-slider .caption ul > li i {
      float: left;
      margin-right: 8px;
      color: #958967; }
    #utilities-slider .caption ul > li span {
      overflow: hidden; }

.gioithieu .more a, #tintucsukien .list-stylized .item .wrapper .more, #gioithuongluu .list-effect-up .item {
  position: relative;
  overflow: hidden; }
  .gioithieu .more a .cover, #tintucsukien .list-stylized .item .wrapper .more .cover, #gioithuongluu .list-effect-up .item .cover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .gioithieu .more a .cover::after, #tintucsukien .list-stylized .item .wrapper .more .cover::after, #gioithuongluu .list-effect-up .item .cover::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 110%;
      height: 110%;
      background: rgba(255, 255, 255, 0.5);
      -webkit-transition: -webkit-transform 0.6s;
      -moz-transition: -moz-transform 0.6s;
      -o-transition: -o-transform 0.6s;
      -ms-transition: -ms-transform 0.6s;
      transition: transform 0.6s;
      -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
      -ms-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
      -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
      transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
      content: ''; }
  .gioithieu .more a:hover .cover:after, #tintucsukien .list-stylized .item .wrapper .more:hover .cover:after, #gioithuongluu .list-effect-up .item:hover .cover:after {
    -ms-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0); }

#gioithuongluu {
  padding-top: 70px; }
  #gioithuongluu .list-effect-up .item {
    float: left;
    width: 33.33333333%; }
    #gioithuongluu .list-effect-up .item .thumb {
      position: relative; }
      #gioithuongluu .list-effect-up .item .thumb img {
        z-index: 1; }
      #gioithuongluu .list-effect-up .item .thumb:after {
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: url("../../images/opacity-bgr.png") no-repeat center;
        background-size: 100% 100%;
        z-index: 3; }
    #gioithuongluu .list-effect-up .item .wrapper {
      z-index: 5;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 30px 60px;
      font-size: 1.8rem;
      color: #ffffff;
      text-align: center; }
      #gioithuongluu .list-effect-up .item .wrapper .title {
        text-transform: uppercase; }

#tintucsukien .list-stylized .item {
  float: left;
  width: 50%;
  padding: 0 5px;
  display: table; }
  #tintucsukien .list-stylized .item .thumb {
    width: 40%;
    display: table-cell;
    vertical-align: top; }
  #tintucsukien .list-stylized .item .wrapper {
    display: table-cell;
    vertical-align: top;
    width: 60%; }
    #tintucsukien .list-stylized .item .wrapper .title {
      display: table;
      width: 100%;
      font-size: 3.6rem;
      color: #ffffff;
      text-transform: uppercase;
      height: 93px;
      padding: 0 15px;
      text-align: right; }
      #tintucsukien .list-stylized .item .wrapper .title .wp-title {
        width: 335px;
        display: table-cell;
        vertical-align: middle; }
        #tintucsukien .list-stylized .item .wrapper .title .wp-title > span {
          float: left; }
          #tintucsukien .list-stylized .item .wrapper .title .wp-title > span:nth-child(2) {
            display: inline-block;
            margin-top: 30px; }
    #tintucsukien .list-stylized .item .wrapper .more {
      margin-top: 30px; }
    #tintucsukien .list-stylized .item .wrapper .content {
      max-width: 335px; }
      #tintucsukien .list-stylized .item .wrapper .content .bold {
        text-transform: uppercase;
        font-size: 1.8rem;
        color: #000000;
        margin-top: 60px;
        margin-bottom: 40px; }
  #tintucsukien .list-stylized .item.item--left .thumb {
    padding-left: 10px; }
  #tintucsukien .list-stylized .item.item--left .wrapper {
    overflow: hidden;
    background: url("../../images/tintucsukien-title.png") no-repeat right top; }
    #tintucsukien .list-stylized .item.item--left .wrapper .content {
      float: right; }
    #tintucsukien .list-stylized .item.item--left .wrapper .title {
      max-width: 335px;
      float: right; }
    #tintucsukien .list-stylized .item.item--left .wrapper .wp-title {
      text-align: right; }
  #tintucsukien .list-stylized .item.item--right .thumb {
    padding-right: 10px; }
  #tintucsukien .list-stylized .item.item--right .wrapper {
    overflow: hidden;
    position: relative;
    background: url("../../images/tintucsukien-title-2.png") no-repeat left bottom; }
  #tintucsukien .list-stylized .item.item--right .title {
    position: absolute;
    bottom: 0;
    left: 0; }

#tintucsukien {
  zoom: 1;
  padding-bottom: 70px; }
  #tintucsukien:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden; }

#section10 {
  padding: 40px 0 !important;
  background: #f4f4f4; }
  #section10 .logo-mobile {
    display: none; }
  #section10 .list-utilities {
    width: 100%; }
    #section10 .list-utilities .item {
      display: table-cell;
      vertical-align: middle;
      padding: 20px;
      text-align: center;
      color: #9c9159;
      text-transform: uppercase; }
      #section10 .list-utilities .item .thumb {
        margin-bottom: 15px; }
        #section10 .list-utilities .item .thumb img {
          height: 40px; }
    @media screen and (min-width: 768px) {
      #section10 .list-utilities {
        display: table; }
        #section10 .list-utilities .item {
          display: table-cell; } }
  @media screen and (max-width: 767px) {
    #section10 .logo-mobile {
      display: block;
      text-align: center;
      padding: 10px 0; }
    #section10 .list-utilities {
      max-width: 480px;
      margin-left: auto;
      margin-right: auto; }
      #section10 .list-utilities .item {
        width: 50%;
        float: left; }
        #section10 .list-utilities .item:nth-child(4) {
          display: none; } }
  @media screen and (min-width: 1600px) {
    #section10 .list-utilities .item .thumb img {
      max-height: none; } }

.footer {
  background: #958967;
  color: #ffffff;
  font-size: 1.2rem; }
  .footer .footer-box {
    padding-left: 60px;
    background: url("../../images/footer-line.png") no-repeat left bottom;
    margin-top: 50px;
    /*.p {
      margin-top: 10px;
      a {
        display: inline-block;
        @include squareItem(40px);
        font-size: 2.4rem;
        color: #bdf870;
        border: 1px solid #bdf870;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
    }*/ }
    .footer .footer-box > .title {
      margin-bottom: 10px;
      font-size: 1.6rem; }
  @media screen and (min-width: 1600px) {
    .footer {
      font-size: 1.4rem; } }

.container--lg {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px; }

.copyright {
  padding: 50px 0 30px; }

.bx-wrapper .bx-controls-direction a {
  height: 100px;
  width: 55px; }
  .bx-wrapper .bx-controls-direction a.bx-prev {
    background: url("../../images/prev.png") no-repeat center;
    right: calc(38.125% - 30px);
    right: -moz-calc(38.125% - 30px);
    left: auto; }

.bx-wrapper .bx-pager {
  display: none; }

#news-page .nav-tabs, #media-page .nav-tabs, #project-update .nav-tabs, #hs-tab .nav-tabs {
  border: none;
  padding-top: 50px;
  -webkit-box-shadow: 0 0 2px 1px rgba(200, 200, 200, 0.7);
  -moz-box-shadow: 0 0 2px 1px rgba(200, 200, 200, 0.7);
  box-shadow: 0 0 2px 1px rgba(200, 200, 200, 0.7); }
  #news-page .nav-tabs > li, #media-page .nav-tabs > li, #project-update .nav-tabs > li, #hs-tab .nav-tabs > li {
    display: inline-block;
    float: none;
    text-transform: uppercase; }
    #news-page .nav-tabs > li > a, #media-page .nav-tabs > li > a, #project-update .nav-tabs > li > a, #hs-tab .nav-tabs > li > a {
      padding: 8px 20px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
    #news-page .nav-tabs > li.active > a, #media-page .nav-tabs > li.active > a, #project-update .nav-tabs > li.active > a, #hs-tab .nav-tabs > li.active > a {
      background: #d6c7a1; }

#news-page .list-items, #media-page .list-items {
  zoom: 1; }
  #news-page .list-items:after, #media-page .list-items:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden; }
  #news-page .list-items .item .thumb img, #media-page .list-items .item .thumb img {
    width: 100%; }
  #news-page .list-items .item .wrapper, #media-page .list-items .item .wrapper {
    padding: 10px;
    color: #ffffff;
    background: url("../../images/news-title-bgr.png") no-repeat center;
    background-size: 100% 100%; }
    #news-page .list-items .item .wrapper .title, #media-page .list-items .item .wrapper .title {
      display: block;
      font-weight: 700;
      overflow: hidden;
      font-family: "Roboto", sans-serif; }

#news-page {
  font-family: "Roboto", sans-serif; }
  #news-page .nav-tabs {
    font-weight: 700; }
  #news-page .tab-content > .tab-pane {
    padding-top: 50px; }
  #news-page .list-items .item {
    margin-bottom: 20px; }
    #news-page .list-items .item .wrapper .index .index__time {
      font-size: 1.4rem;
      font-family: "Arial", "Roboto", sans-serif;
      line-height: 18px; }
    #news-page .list-items .item .wrapper .title {
      line-height: 20px;
      height: 40px; }

#media-page {
  font-family: "Roboto", sans-serif; }
  #media-page .nav-tabs {
    font-weight: 700; }
  #media-page .tab-content > .tab-pane {
    padding-top: 20px; }
  #media-page .list-items .item {
    margin-bottom: 20px; }
    #media-page .list-items .item .wrapper {
      display: table;
      width: 100%; }
      #media-page .list-items .item .wrapper .title {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        line-height: 20px;
        font-size: 1.4rem;
        height: 40px; }

.distribution .list-items .item {
  border: 1px solid #e7e7e7;
  border-bottom: 1px solid #947328;
  padding: 15px 15px 20px;
  color: #947328;
  margin-bottom: 50px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer; }
  .distribution .list-items .item .title {
    line-height: 24px;
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    height: 72px;
    overflow: hidden;
    margin-bottom: 10px;
    display: block; }
  .distribution .list-items .item .phone {
    display: table;
    width: 100%; }
    .distribution .list-items .item .phone .di-table-cell {
      display: table-cell;
      vertical-align: middle;
      padding: 0; }
    .distribution .list-items .item .phone .di-table-cell:first-child {
      width: 60px; }
    .distribution .list-items .item .phone i {
      width: 45px;
      height: 45px;
      line-height: 45px !important;
      text-align: center;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 2px solid #947328;
      font-size: 2.4rem !important; }
    .distribution .list-items .item .phone a {
      color: #212121; }
  .distribution .list-items .item:hover {
    background: rgba(148, 115, 40, 0.3); }

#project-update .panel-group {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important; }
  #project-update .panel-group .panel-heading {
    line-height: 30px;
    padding: 10px;
    background: #e1e1e1;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    #project-update .panel-group .panel-heading i {
      margin-right: 5px;
      color: #9c9159; }
  #project-update .panel-group .panel-body {
    padding: 15px 0; }
  #project-update .panel-group .panel {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important; }

#project-update {
  padding-bottom: 50px;
  font-family: "Roboto", sans-serif;
  color: #282828;
  font-weight: 700; }
  #project-update .nav-tabs {
    font-weight: 700; }
  #project-update .tab-content > .tab-pane {
    padding-top: 50px; }
  #project-update .di-table-cell {
    padding: 10px; }
  @media screen and (min-width: 768px) {
    #project-update .di-table {
      display: table;
      width: 100%; }
      #project-update .di-table .di-table-cell {
        display: table-cell;
        vertical-align: top;
        padding: 0; } }
  #project-update .di-table .di-table-cell:first-child {
    width: 33.3333333333%; }
  #project-update ul li i {
    float: left;
    width: 15px;
    color: #947328; }
  #project-update ul li span {
    overflow: hidden; }

.news-detail {
  padding-top: 70px;
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid #cccccc; }
  .news-detail .thumb {
    position: relative; }
    .news-detail .thumb img {
      width: 100%; }
    .news-detail .thumb .redirect-list {
      display: block;
      width: 40px;
      height: 40px;
      background: url("../../images/close-btn.png") no-repeat center;
      background-size: 100% 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10; }
  .news-detail h1.title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 2.4rem;
    color: #9c9159;
    text-transform: uppercase;
    font-weight: 500; }
  .news-detail .index {
    zoom: 1;
    margin-bottom: 20px; }
    .news-detail .index:after {
      clear: both;
      content: ".";
      display: block;
      height: 0;
      line-height: 0;
      visibility: hidden; }
    .news-detail .index .index__time, .news-detail .index .social {
      float: left;
      padding-right: 10px; }
    .news-detail .index .index__time {
      color: #a9a9a9;
      font-size: 1.4rem;
      border-right: 1px solid #9c9159; }
    .news-detail .index .social a {
      display: inline-block;
      width: 20px;
      height: 20px;
      line-height: 20px !important;
      text-align: center;
      font-size: 1.4rem;
      color: #ffffff; }
      .news-detail .index .social a.facebook-s {
        background: #3b5a9b; }
      .news-detail .index .social a.twitter-s {
        background: #18a5ec; }
      .news-detail .index .social a.google-mail-s {
        background: #8c8c8c; }
      .news-detail .index .social a.instagram-s {
        background: #738889; }
  .news-detail .content {
    padding-bottom: 30px; }

.plugin {
  padding: 15px 0;
  margin-bottom: 30px; }

.relate-news {
  zoom: 1; }
  .relate-news:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden; }
  .relate-news .title {
    color: #9c9159;
    font-size: 2.4rem;
    margin-bottom: 20px; }
  .relate-news .item .thumb img {
    width: 100%; }
  .relate-news .item .wrapper {
    padding: 10px 0; }
    .relate-news .item .wrapper a.title {
      display: block;
      color: #9c9159;
      font-size: 1.4rem; }

.pager {
  clear: both;
  margin-bottom: 50px; }
  .pager li a {
    border-radius: 0;
    border: 1px solid #cccccc;
    background: transparent; }
  .pager li.active a {
    background: #947328;
    color: #ffffff; }

.innerpager {
  padding-top: 80px; }

.document .list-items .item {
  margin-bottom: 65px; }
  .document .list-items .item .thumb {
    border: 1px solid #e7e7e7; }
    .document .list-items .item .thumb .image {
      display: table;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #e7e7e7; }
      .document .list-items .item .thumb .image .di-table-cell {
        display: table-cell;
        height: 198px;
        vertical-align: middle;
        width: 100%; }
    .document .list-items .item .thumb .title {
      padding: 10px;
      color: #947328;
      text-align: center;
      font-size: 1.8rem; }
  .document .list-items .item .wrapper {
    padding-top: 30px; }
    .document .list-items .item .wrapper .download {
      width: 110px;
      height: 45px;
      background: url("../../images/download-icon.png") no-repeat center;
      display: inline-block; }

#gioithuongluu .list-effect-up .item .wrapper .content {
  min-height: 80px; }

#contact-page {
  font-family: "Roboto", sans-serif;
  padding-top: 70px; }
  #contact-page .contact-box {
    margin-bottom: 50px; }
    #contact-page .contact-box .title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.8rem;
      padding-left: 10px;
      position: relative; }
      #contact-page .contact-box .title:after {
        content: '';
        width: 3px;
        height: 25px;
        position: absolute;
        bottom: 5px;
        left: 0;
        background: #947328; }
    #contact-page .contact-box .wrapper .address .item {
      display: table;
      width: 100%;
      padding: 20px 0;
      font-size: 1.8rem; }
      #contact-page .contact-box .wrapper .address .item .di-table-cell {
        display: table-cell;
        vertical-align: top;
        padding: 0; }
      #contact-page .contact-box .wrapper .address .item i {
        width: 40px;
        height: 40px;
        line-height: 40px !important;
        text-align: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        color: #ffffff;
        background: #947328;
        font-size: 2.4rem; }
      #contact-page .contact-box .wrapper .address .item .di-table-cell:first-child {
        width: 50px; }
  #contact-page button {
    margin-left: 15px; }
  #contact-page .contact-form .dft {
    color: #947328; }
  @media screen and (min-width: 768px) {
    #contact-page .contact-form label {
      text-align: right; } }

.contact-form .group {
  margin-top: 15px; }
  .contact-form .group label {
    display: block;
    font-weight: normal;
    color: #828282; }
  .contact-form .group .dft {
    width: 100%;
    line-height: 30px;
    padding: 5px 15px;
    border: 1px solid #cccccc; }
.contact-form button {
  min-width: 105px;
  text-align: center;
  border: none;
  line-height: 34px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }
  .contact-form button.rs-btnn {
    background: #959595;
    color: #ffffff; }
  .contact-form button.sm-btnn {
    background: #947328; }

@media screen and (max-width: 1400px) {
  /*#tintucsukien .list-stylized .item{
    min-height: 485px;
  }*/
  #utilities-slider .caption .title {
    font-size: 2.8rem; }

  #utilities-slider .caption {
    padding: 35px 40px; }

  #gioithuongluu .list-effect-up .item .wrapper {
    font-size: 1.4rem; }

  #tintucsukien .list-stylized .item .wrapper .content .bold {
    margin: 20px 0; }

  #tintucsukien .list-stylized .item .wrapper .more {
    margin-top: 20px;
    display: none; }

  #tintucsukien .list-stylized .item .wrapper .title, #utilities-slider .item .caption .title {
    font-size: 2.8rem; }

  .section h3.title {
    font-size: 2.8rem; }

  #vitrikimcuong .list--float li span {
    font-size: 1.6rem; }

  .section1 .main-header .bb-item .bb-custom-side .title, .section1 .main-header .bb-back .bb-custom-side .title, .section1 .main-header .bb-front .bb-custom-side .title {
    font-size: 2.8rem; }

  .section1 .logo a img {
    width: 228px !important; } }
@media screen and (max-width: 1199px) {
  .section1 .main-header .bb-item .bb-custom-side .title, .section1 .main-header .bb-back .bb-custom-side .title, .section1 .main-header .bb-front .bb-custom-side .title {
    font-size: 2.4rem;
    height: 72px; }

  #vitrikimcuong .list--float li {
    width: 50%; }
    #vitrikimcuong .list--float li:nth-child(2n+1) {
      clear: both; }

  #utilities-slider .caption .title {
    font-size: 2.4rem; }

  #tintucsukien .list-stylized .item {
    float: none;
    width: 100%; }

  #tintucsukien .list-stylized .item .thumb {
    width: auto; } }
@media screen and (max-width: 991px) {
  #canhocaocap .list-effect-up .item .wrapper, #gioithuongluu .list-effect-up .item .wrapper {
    padding: 20px 30px; }

  #utilities-slider .caption {
    padding: 20px 15px; }

  #utilities-slider .caption .title {
    font-size: 2.1rem; }

  .bx-wrapper .bx-controls-direction a {
    height: 50px;
    width: 27px; }
    .bx-wrapper .bx-controls-direction a.bx-prev {
      right: calc(38.125% - 14px);
      right: -moz-calc(38.125% - 14px);
      background-size: 100% 100%; } }
@media screen and (min-width: 992px) {
  #vitrikimcuong h3.title .lg-text {
    padding-bottom: 30px;
    background: url("../../images/title-section.png") no-repeat center bottom; }

  .list-items .col-md-4:nth-child(3n+1) {
    clear: both; } }
@media screen and (min-width: 768px) {
  .mobile {
    display: none; } }
@media screen and (max-width: 768px) {
  .section1 .main-header .slider#main-slider-1 .item .title {
    display: none; }

  #dothisinhthai .list-free .col {
    zoom: 1; }
    #dothisinhthai .list-free .col:after {
      clear: both;
      content: ".";
      display: block;
      height: 0;
      line-height: 0;
      visibility: hidden; }
    #dothisinhthai .list-free .col .text {
      padding-top: 10px; }

  .desktop {
    display: none; }

  .wrapper--lg {
    max-width: 100% !important; }

  #utilities-slider .caption {
    position: relative;
    width: 100%;
    right: auto;
    height: auto; }

  #utilities-slider .bx-wrapper .bx-controls-direction a.bx-prev {
    left: 0;
    right: auto; }

  .section1 .group-button .nav-button {
    line-height: 30px;
    font-size: 1.2rem;
    margin-left: -20px; }

  .section1 .group-button .list-social a {
    width: 30px;
    height: 30px;
    line-height: 30px !important;
    text-align: center;
    font-size: 1.2rem; } }
@media screen and (max-width: 480px) {
  .gioithieu .description {
    font-size: 1.4rem; }

  .gioithieu .list--float {
    display: none; }

  #vitrikimcuong .list--float li {
    width: 100%;
    clear: both; }

  #tintucsukien .list-stylized .item .thumb {
    display: none; }

  #tintucsukien .list-stylized .item.item--right .title {
    position: static;
    bottom: auto; }

  .footer .footer-box {
    margin-top: 20px; }

  .copyright {
    margin-top: 20px;
    margin-bottom: 60px; }

  .section1 .main-header .bb-item .bb-custom-side .title, .section1 .main-header .bb-back .bb-custom-side .title, .section1 .main-header .bb-front .bb-custom-side .title {
    display: none; }

  .contact-button {
    bottom: 0;
    top: auto;
    width: 100%;
    z-index: 10000;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center; } }
@media screen and (max-width: 767px) {
  #subscribe-form {
    overflow: scroll;
    padding: 20px; }

  #dothisinhthai .list-free .col img {
    width: 100%; }

  img {
    height: auto; }

  #canhocaocap .list-effect-up .item, #gioithuongluu .list-effect-up .item {
    width: 100%; } }
#hs-tab {
  padding-top: 0; }
  #hs-tab .nav-tabs {
    font-weight: 700; }
  #hs-tab .tab-content > .tab-pane {
    padding-top: 50px; }

.faqs .item {
  border: 1px solid #e7e7e7;
  border-bottom: 2px solid #947328;
  padding: 55px 15px 20px;
  margin-bottom: 50px;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer; }
  .faqs .item .index {
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px !important;
    text-align: center;
    background: #947328;
    color: #ffffff;
    top: 0;
    left: 0;
    font-size: 2.1rem; }
  .faqs .item .title {
    line-height: 24px;
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    height: 72px;
    overflow: hidden;
    margin-bottom: 10px;
    display: block; }
    .faqs .item .title:hover {
      color: #947328; }
  .faqs .item .more {
    text-align: center; }
    .faqs .item .more a {
      padding: 5px 20px;
      border: 1px solid #947328;
      color: #947328;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background: #ffffff;
      display: inline-block;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
  .faqs .item a {
    color: inherit;
    text-decoration: none !important; }
  .faqs .item:hover {
    -webkit-box-shadow: 0 0 5px 1px rgba(200, 200, 200, 0.5);
    -moz-box-shadow: 0 0 5px 1px rgba(200, 200, 200, 0.5);
    box-shadow: 0 0 5px 1px rgba(200, 200, 200, 0.5); }
    .faqs .item:hover .more a {
      opacity: 1;
      background: #947328;
      color: #ffffff; }

#faqsModal .modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  position: relative;
  font-family: "Roboto", sans-serif; }
#faqsModal .modal-header {
  padding: 0;
  border: none; }
#faqsModal .question {
  color: #947328;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 1.8rem; }
#faqsModal .answer {
  font-size: 1.6rem; }
#faqsModal .close {
  position: absolute;
  z-index: 100;
  opacity: 1 !important;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: url("../../images/close-btn.png") no-repeat center; }

.wrapper-slider {
  overflow: hidden; }
  .wrapper-slider .slider {
    float: left;
    width: 50%; }

.section1 .main-menu > .list > li .sub-menu {
  display: none;
  margin-bottom: 10px; }
  .section1 .main-menu > .list > li .sub-menu > li {
    padding: 10px 0;
    height: 0;
    line-height: 30px;
    border-bottom: 1px dotted #cccccc;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .section1 .main-menu > .list > li .sub-menu > li:last-child {
      border-bottom: none; }
.section1 .main-menu > .list > li:hover .sub-menu {
  display: block; }
  .section1 .main-menu > .list > li:hover .sub-menu > li {
    height: 30px; }

/*# sourceMappingURL=style.css.map */