// -----------------------------------------------------------------------------
// Let's get this party started
// -----------------------------------------------------------------------------

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.2);
}
ul{
	padding: 0;
	margin: 0;
	padding: 0;
	li{
		list-style: none;
	}
}
a,
a:hover{
	text-decoration: none !important;
}