@font-face {
    font-family: "SFUFUTURA-BOLD";
    src: url("../../../fonts/SFUFUTURABOLD.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SFUFUTURA-BOOK";
    src: url("../../../fonts/SFUFUTURABOOK.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SFUFUTURA-EXTRABOLD";
    src: url("../../../fonts/SFUFUTURAEXTRABOLD.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SFUFUTURAHEAVY";
    src: url("../../../fonts/SFUFUTURAHEAVY.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SFUFUTURAOBLIQUETTF";
    src: url("../../../fonts/SFUFUTURAOBLIQUETTF.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "VNF-NARZISS-REGULAR";
    src: url("../../../fonts/VNF-NARZISS-REGULAR.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HELVETICA-NEUE';
    src: url('../../../fonts/HELVETICA-NEUE.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UTM Avo';
    src: url('../../../fonts/UTMAvo.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    src: url('../../../fonts/GOTHAM BLACK.OTF');
    font-family: 'GOTHAM BLACK';
}

@font-face{
    src: url('../../../fonts/GOTHAM BOOK.OTF');
    font-family: 'GOTHAM BOOK';
}

@font-face{
    src: url('../../../fonts/GOTHAM BOLD.OTF');
    font-family: 'GOTHAM BOLD';
}

@font-face{
    src: url('../../../fonts/GOTHAM LIGHT.OTF');
    font-family: 'GOTHAM LIGHT';
}

@font-face{
    src: url('../../../fonts/UTM Yen Tu.ttf');
    font-family: 'UTM Yen Tu';
}